[2019-01-19 13:18] maurocen opened #1 "README is out of date."

[2019-04-08 23:58] rturk opened #2 "Load Google Core API lazily?"
Hi it is possible to load Google API lazily or pragmatically?

I have a React App and I only need this features in a few pages/routes of my code, loading it on all pages is unnecessary

`<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_GOOGLE_API_KEY&libraries=places"></script>`

[2019-04-16 18:31] Tintef commented on #2
@rturk Sorry for the late response.

As you can see here: https://github.com/Tintef/react-google-places-autocomplete/blob/d9bd68c28745de12fc6ac74778f335c89e8c5a95/src/GooglePlacesAutocomplete/index.js#L61

The component calls a `setTimeout` until google API is successfully loaded, so you could programmatically add the `script` tag in the pages/routes you need and it should work (haven't tested it)

[2019-05-19 19:25] DeanKamali opened #3 "Restrict location search"
How to can I add restrictions to location & setup search preference based on Geolocation?

I have tried editing the following, in GooglePlacesAutocomplete class

[code]

But no luck, any ideas?

[2019-05-19 20:06] Tintef commented on #3
Hi @DeanKamali,

The correct way of adding restrictions to the autocomplete is by adding the restrictions to the  `getPlacePredictions` call on line 9:
[code]

I'm haven't tested it myself, but you can take a look here for why I think this is the correct approach:
- https://developers.google.com/maps/documentation/javascript/reference/places-autocomplete-service
- https://developers.google.com/map

[2019-05-19 23:26] #2 closed

[2019-05-19 23:27] Tintef commented on #2
Closed for lack of response.

[2019-05-25 13:33] Tintef commented on #3
@DeanKamali I have tested this and it works! Working on a new version with the feature now

[2019-05-25 17:13] DeanKamali commented on #3
@tintef that’s awesome! I’m also hoping if you could figure out how to get postal code / zip code! It’s crucial to have this info when processing payments for example.

[2019-05-25 19:25] Tintef commented on #3
@DeanKamali

It's not possible to get the postal code from the `placesPrediction` call. In order to get that information another API call is necessary using the `Geocoder`. Here's a little script on how to obtain the postal code:

[code]

You should get the `placeId` from the `onSelect` function provided to the `GooglePlacesAutocomplete` component.

Hope this helps, I'll try to add this option lat

[2019-05-27 02:02] #3 closed

[2019-05-31 13:18] fridaystreet opened #5 "Failed prop type: Invalid prop `bounds` supplied to `GooglePlacesAutocomplete`"
Getting the error Failed prop type: Invalid prop `bounds` supplied to `GooglePlacesAutocomplete`

Regardless of if I supply the autocompletionRequest prop to the component. If I do supply property without bounds, same issue. If i supply with bounds: {} same issue.

Cheers
Paul

[2019-05-31 13:38] Tintef commented on #5
@fridaystreet Can you provide some example code please?

[2019-06-01 01:03] Tintef commented on #5
@fridaystreet Don't worry, I was able to reproduce it

[2019-06-01 01:04] #5 closed

[2019-06-01 02:21] fridaystreet commented on #5
Awesome thanks. Sorry I'm in Australia so only just seen this message.

[2019-06-01 02:25] Tintef commented on #5
No problem! Thank you for reporting this 😄

[2019-07-16 12:51] Solobearus opened #10 "value is string but autocomplete is not"
The initial value and the value from the select. is not the same type.
The value that gets selected has all the the adresses values, and puts the description in the input.
But if I want to already choose a adress in the initial value , I have to use a string value.

Which means that in a CRUD application , I would not be able to open a update window and leave the adress as is. I'll have to choose

[2019-07-16 15:51] Tintef commented on #10
@Solobearus Can you provide some sample code of what you are trying to do?

[2019-07-16 16:52] dextercallender opened #11 "Location and Bounds do not work as specified in documentation"
According to the documentation, the following request constraints should work.

`const autocompletionRequest = {
            componentRestrictions: { country: 'us' },
            location: { lat: Number(40.7128),  lng: Number(74.0060) },
            radius: 5
}`

I am receiving the error: 'Uncaught (in promise) TypeError: a.lat is not a function' back from Google places API. I believe the code pro

[2019-07-16 19:57] Tintef commented on #11
I’ll take a look at this tomorrow, thanks for reporting!

[2019-07-16 20:29] AxelAli commented on #11
Hi there, i was just stepping over this .
For some reason you are not passing the **_autocompletitionRequest_** props to the **_getPlacePredicitons_**
My solution is
`Object.assign(_this.props.autocompletionRequest,{input: value}))`
Line 102 @ react-places-autocomplete/dist/PlacesAutocomplete.js

[2019-07-16 21:18] Tintef commented on #11
Hey @AxelAli thanks for taking a stepping over!

I would prefer to figure out why the spread operator is not working before using `Object.assing(...`

[2019-07-16 21:54] Tintef commented on #11
@AxelAli

As far as I was able to debug this, it looks like what you are mentioning is not the problem. Actually what's happening is that the `location` is not a `LatLng`.

So, making this:
[code]

And sending that location on the ` this.placesService.getPlacePredictions` call doesn't throws the error @dextercallender reported.

Now I'm checking this works as expected (the restrictions are correct

[2019-07-16 22:09] Tintef commented on #11
@AxelAli @dextercallender

This fix works 🎉 I'll merge and update the package so you can give it try!

Let me know if this doesn't work for any of you guys.

Note: @dextercallender your lat/lng coordinates are for somewhere in China (just so you know)

[2019-07-16 22:25] #11 closed

[2019-07-25 21:21] dextercallender commented on #11
Thanks for the quick reply but I'm still having some issues with the suggested solution...

Can you provide an example of what it the autocompletionRequest object would look like for a 10 mi. radius around NYC for example?

[2019-07-25 21:29] AxelAli commented on #11
Hi there.

i would suggest you take a look at [this](https://developers.google.com/maps/documentation/javascript/reference/places-service#TextSearchRequest) probably  bounds or radius

[2019-07-25 21:31] Tintef commented on #11
Thanks for stepping over again @AxelAli

Also @dextercallender, it's always helpful to see your code, so we know what are you doing. A codepen or similar to reproduce what you are doing would be awesome too

[2019-08-06 14:47] NASlR opened #18 "TypeError: Cannot read property 'places' of undefined"
Not sure why but it seems that you are missing an if statement in the initializeService function.

index.js (line 117 -143)

[code]

Adding in
[code]

fixed the error. Not sure if it's an oversight on my part or the module.

[2019-08-06 16:22] Tintef commented on #18
@NASlR You are right, that should be added!

Feel free to open a PR with that fix 😄 I'll do it on the weekend if you can't make a PR for it

[2019-08-06 23:12] #18 closed

[2019-09-14 07:38] sufiyanyusuf78611 opened #23 "Restricting results by city/region doesn't work"
I'm trying to restrict results by type, but it doesn't work. Any help ? Thanks.

Here's my code:

<GooglePlacesAutocomplete
                            placeholder={'Enter Area'}
                            autocompletionRequest = {{
                                types: ["cities"]
                            }}
                            debounce={500}
   />

[2019-09-14 07:54] sufiyanyusuf78611 commented on #23
nm, I realized I was missing the brackets:
<GooglePlacesAutocomplete
placeholder={'Enter Area'}
autocompletionRequest = {{
types: ["(cities)"]
}}
debounce={500}
/>

[2019-09-14 07:54] #23 closed

[2019-09-26 02:46] kapilaramji commented on #10
To add to this, and extend on what @Solobearus is saying---

**Example**
Value in store is `address = {"id": "7eae6a016a9c6f58e2044573fb8f14227b6e1f96", "terms": [{"value": "New York", "offset": 0}, {"value": "NY", "offset": 10}, {"value": "USA", "offset": 14}], "types": ["locality", "political", "geocode"], "place_id": "ChIJOwg_06VPwokRYv534QaPC8g", "reference": "ChIJOwg_06VPwokRYv534QaPC8g", "de

[2019-09-28 15:41] Tintef commented on #10
@kapilaramji

Thas looks reasonable, it would be awesome to support both (current and expected) 🤔

[2019-09-28 15:53] kapilaramji commented on #10
@Tintef Yes maybe a solution could be to leave the existing prop as is, and add a new prop for "initialValueObj" based on the Place object.

[2019-09-28 17:23] Tintef commented on #10
@kapilaramji

I think that the best solution is to keep using that prop, but accept `oneOf([string, object])` 🤔

[2019-10-16 19:30] Imran-Haider313 opened #25 "Input field is not populating if modify the renderSuggestions"
I have the following code in my app and it shows the suggestions. But once I click any of these suggested locations, nothing happens at all. If I remove this `renderSuggestions`, input field gets populated again.

[code]

[2019-10-16 20:05] Tintef commented on #25
@Imran-Haider313 As you are using a custom function for customizing the suggestions list, you need to manually handle the click events on the suggestion, for example:

[code]

I did noticed this is missing on the docs, I'll add it as soon as I can.
Let me know if it works!

[2019-10-16 21:48] Imran-Haider313 commented on #25
thanks alot for such a quick response :)

[2019-10-21 06:03] iShaymus opened #27 "prop `bounds` supplied to `GooglePlacesAutocomplete`. Validation failed."
The below code produces the console error `Warning: Failed prop type: Invalid prop 'bounds' supplied to 'GooglePlacesAutocomplete'. Validation failed.`
[code]

Note styled components are used in place of `div` and `input` elements.  It renders and work as intended just getting the bounds error.

[2019-10-21 17:20] Tintef commented on #27
Hey @iShaymus, thanks for reporting this!

I've found the issue, I'll try to fix it today or tomorrow. In the meantime, you can use the following:

[code]

I won't be the same, but it'll work!

[2019-10-22 03:55] iShaymus commented on #27
Hey buddy.  No worries, it's not that important at the moment so I will wait for the update.

[2019-10-31 01:33] #25 closed

[2019-10-31 01:33] Tintef commented on #27
@iShaymus  This is fixed now! Sorry it took some more time, really busy 😓

[2019-10-31 01:37] #27 closed

[2019-11-01 09:34] iShaymus commented on #27
Thanks @Tintef. I fully understand about real life getting chaotic.

[2019-11-16 18:46] steven-r opened #32 "react 16 deprecation warning"
While using GootPlacesAutocomplete with react 16.9, I get the following warning:
[code]

Versions:

* react: 16.9
* react-google-places-autocomplete: 1.5.3

[2019-11-17 01:42] Tintef commented on #32
Hi @steven-r, I'm aware of this and I've got an item pipeline to update the library to follow the newest stuff on React (such as using hooks or update the lifecycle methods being used on the library).

Sadly, I don't have enough time right now to do so, but thanks for pointing it out!

Feel free to submit a PR to update the lifecycle hook being used if you want to!!

[2019-11-27 08:09] Shrewbi opened #33 "Warning for multiples"
I've attempted to have two of these autocomplete components and it works, however i am warned since it utilizes the same id twice:

[2019-11-27 15:33] Tintef commented on #33
@Shrewbi Thanks for pointing this out!

If you use custom render functions, you can override the `id` of the input, the suggestions container, and each suggestion item. But, I do agree that having to this if you are ok with the default input/suggestions is not great.

I think that a good approach could be to pass an `idPrefix` prop 🤔

PR and more thoughts on this are welcomed!

[2019-12-01 12:59] sashberd opened #34 "Error when use the lib"
Hi I just installed you lib and got this error

[2019-12-01 14:05] Tintef commented on #34
Hi @sashberd, can you provide with a repo where this can be reproduced? I'm not being able to do so

[2019-12-05 01:28] brandontle commented on #34
@sashberd @Tintef I get the exact same error. Will make a repo to reproduce in the next few days.

@Tintef Try installing the library with a Next.js starter.

[2019-12-05 01:49] Tintef commented on #34
@brandontle Thanks! I'll try that!
If you could also provide a repo (just in case) it would great!

[2019-12-06 19:39] Tintef commented on #34
@sashberd @brandontle

Can you test the newest release (1.6.0), I tried it on a fresh next.js project and it seems to works just fine. Please note that the css needs to be imported separately (for this to work on next you'll need to use https://github.com/zeit/next-plugins/tree/master/packages/next-css).

Let me know if it works!!

[2019-12-11 19:33] Tintef commented on #34
I'll close this for now.

[2019-12-11 19:33] #34 closed

[2019-12-12 21:04] #33 closed

[2019-12-16 22:36] sseppo opened #37 "Getting formatted_address from results"
How could I get formatted_address from search results?

I was trying another similar component (react-google-autocomplete) and it uses google's own formatting as base for both input and results (for example, 1st word as bolded in results). I wonder if same is possible with this component?

I guess one could partly get it from using geocodeByAddress -function, but then again it takes only one argum

[2019-12-16 23:41] sseppo commented on #37
sorry my bad, found it already. The similar result can be found / made from the results of search. It seems at that other component the formatting still comes along with the results, though I am not sure how, and could be that I just mislooked something.

[2019-12-16 23:42] #37 closed

[2019-12-31 00:49] theweiweiway opened #38 "clear input"
Hi,

Thanks for the great library.

i was wondering if there is a way to programmatically clear the input field? I'm using renderInput to apply my styling, and I read that onChange should not be overriden.

Thanks again.

[2020-01-06 03:42] Tintef commented on #38
Hi @theweiweiway,

Currently there's no way to programmatically clear the input field, but that sounds like a great addition!
Any PR or suggestions are more than welcome, but I'll try to take a look at this ASAP.

Also, can you provide some sample code of how you intend to do it? And the use case?

Thanks!

[2020-01-06 03:48] theweiweiway commented on #38
Thanks for the response @Tintef,

I have successfully implemented the component to work. Now, i want to build in the capability to click a X icon which will programatically clear the input. My code is below (I'm using @materialui/core for styling), and the part where the input will be cleared is commented out.

Thanks!

Here's my code:
[code]

[2020-01-09 16:56] theweiweiway commented on #38
@Tintef I cloned the repo and took a look,
What do you think of exposing ``value`` as a **mandatory** prop (like this: https://github.com/hibiken/react-places-autocomplete)?
That way the user can do whatever they want with the value, however it would require a mandatory value prop which the user would need to keep track and manage.

[2020-01-09 16:59] theweiweiway commented on #38
The other option i see is to use a ref to trigger ``changeValue(value)`` from the parent

[2020-01-09 17:12] theweiweiway commented on #38
sorry. this is actually much easier than i thought haha...

since in the state declaration, you did ``value: props.initialValue``, I can just do this:
[code]

and that will clear the input...

Great!

[2020-01-09 17:12] #38 closed

[2020-01-10 03:03] Sushant-Borsania opened #39 "Unable to force user to select autocomplete."
Unable to force user to select from autocomplete suggestion only. Since there is no freedom to modify the onBlur method, I am unable to implement the functionality.

[2020-01-12 21:25] theweiweiway opened #40 "use UNSAFE_componentWillReceiveProps instead of componentWillReceiveProps"
componentWillReceiveProps will be deprecated in React 17.0, and must be renamed to UNSAFE_componentWillReceiveProps.

I tried to make a pull request but couldn't figure out how :( (im noob). It's a quick change, just change line 57 to UNSAFE_componentWillReceiveProps

[2020-01-12 23:12] Tintef commented on #40
@theweiweiway Hey, thanks!

To make a PR you need to:

1. Fork the repo
2. Make your changes and create a new commit
3. Open a PR from your fork to the main repo (this one)

I'm more than glad to review + approve a PR 😄

[2020-01-12 23:18] Tintef commented on #39
@Sushant-Borsania

You can override the `onBlur` function. The README needs an update regarding that.
If you take a look at the `renderInput` function: https://github.com/Tintef/react-google-places-autocomplete/blob/master/src/GooglePlacesAutocomplete/index.js#L109-L154, you can see that there's no `onBlur` method being used.

[2020-01-13 22:33] Tintef commented on #40
Also, duplicate of #32 , closing this one. If you want to make a PR please do so to close #32

[2020-01-13 22:33] #40 closed

[2020-01-14 17:33] Sushant-Borsania commented on #39
Thank you. Yes I override the blur and working as expected...

[2020-01-14 17:33] #39 closed

[2020-01-16 21:51] #32 closed

[2020-01-23 17:51] nkovacic opened #43 "TypeScript definition files"
Would be great if a TypeScript definition would be provided for easier usage of the component.

[2020-01-23 21:53] Tintef commented on #43
@nkovacic I have no plans to do that in the near future, but feel free to submit a PR!

[2020-01-27 22:31] goleary opened #44 "unable to install on windows"
Windows 10, powershell:
![Uploading image.png…]()

[2020-01-27 23:41] Tintef commented on #44
@goleary Hey, it looks like the image upload was not successful 😞
Can you please upload it again and also send your node and npm/yarn versions?

[2020-01-28 01:07] goleary commented on #44
looks like it was a transient error, I can't repro it anymore.

Thanks for the quick reply!

[2020-01-28 16:00] #44 closed

[2020-01-29 17:36] devBram97 opened #45 "Selected Address Components"
Would there be a possibility to return the address components by name? So if a user inserts an address I would like to check the City it is in.

like in: [https://developers-dot-devsite-v2-prod.appspot.com/maps/documentation/javascript/examples/places-autocomplete-addressform](url)

[2020-01-29 17:38] #45 closed

[2020-01-29 17:39] devBram97 commented on #45
Found a way of doing this by checking the types of the objects in the adress_components

[2020-02-04 23:42] dstiglr opened #46 "Get location data from selected autocomplete item"
Hello.

I can't get location data from object given by onSelect method.

[2020-02-05 18:39] Tintef commented on #46
Hi @dstiglr, what field are you looking for? Can you send some sample code of what you are doing and what you are trying to accomplish?

If by `location data` you mean that you want to get `lat` and `long`, you can't. You'll need to geocode the location after getting it. You can use the provided `getLatLng` function.

[2020-02-07 19:12] dstiglr commented on #46
I get it, thanks.

[2020-02-07 19:13] #46 closed

[2020-04-04 03:45] a-ssassi-n opened #49 "Ability to specify sessionToken on every suggestion call?"
According to Dev Docs from Google, you must specify a 'sessionToken' for every suggestion call. When an address is selected, the `sessionToken` is expired and you are charged for the suggestion.

- https://developers.google.com/places/web-service/session-tokens

- https://developers-dot-devsite-v2-prod.appspot.com/maps/documentation/javascript/places-autocomplete#session_tokens

Is there any way t

[2020-04-04 23:18] Tintef commented on #49
Hi @a-ssassi-n, currently there's no way to do that. But it does seem very important.

I'll try to add that as soon as possible, but a PR is always welcomed! 😄

[2020-04-06 00:13] Tintef commented on #49
@a-ssassi-n you can try this out by installing the `2.0.0-alpha.2` version.
You can pass a `withSessionToken` prop and it will handle changing the `sessionToken` after every place select for you.

[2020-04-07 01:31] Tintef commented on #49
Feature added on #52

[2020-04-07 01:31] Tintef commented on #49
Feature added on #52

[2020-04-07 01:31] #49 closed

[2020-04-07 18:36] faizaaniesta opened #54 "Get Map Url"
I want to achieve the following effect with your library:
`
const autocomplete = new google.maps.places.Autocomplete(
      document.getElementById('autocomplete'),
      options,
);

const mapUrl = autocomplete.getPlace().url;
`
How can I get the google maps url?

[2020-04-08 01:49] Tintef commented on #54
@faizaaniesta I don't think you can exactly that, but you can construct a google maps url if you have the `lat` and `lng` values for the place.

[code]

This will log in the console a url to google maps centered in the place the user selected on the autocompleted.

Hope it helps!

[2020-04-08 02:02] #43 closed

[2020-04-08 05:39] faizaaniesta commented on #54
You are right but what if I wanted the map to point at some object, for example, https://maps.google.com/?q=1275+York+Ave,+New+York,+NY+10065,+USA&ftid=0x89c258c24d923e7f:0xfbb658dfc641e314

When I visit this url, the map directly points at the place, whereas, if I just add its `lng `,`lat `to your given url it won't be pointed out in the map.

[2020-04-08 21:34] Tintef commented on #54
@faizaaniesta If you wanna do that, by looking at the url you just need to pass the description that google places API returns, like this:
[code]

Hope this helps!

[2020-04-09 12:18] faizerestek commented on #54
Awesome! Thanks.

[2020-04-09 20:49] maurocen opened #58 "Google Places script injected more than once"
**Steps to reproduce:**
1. Have more than one `<GooglePlacesAutocomplete />` component with `apiKey` prop defined.

**Expected behavior:**
- The google places script is injected only once.

**Current behavior:**
- Each `<GooglePlacesAutocomplete />` instance injects the google places script, throwing warnings in the console and effectively stops working (stuck at `Loading...`).

Keep up the good w

[2020-04-09 21:16] #58 closed

[2020-04-13 22:44] Tintef commented on #54
Will close this assuming last answer is what @faizaaniesta wanted

[2020-04-13 22:44] #54 closed

[2020-04-15 00:11] jmalerba-zerology opened #60 "unable to pass a name to the underlying input"
...is this by intent? I find myself needing to pass a name to the underlying input that gets created. I can do the PR if this is **not** by intent.

Thanks!
Joel

[2020-04-15 16:48] gabe2code opened #61 "Properly way to use onSelect with typescript"
Hi everyone:
I need to know whats the right way to use `onSelect` with Typescript cause I'm receiving a warning when I use it. This is my code:

`handleSelect = (addressSelected:any):void => {`
`    geocodeByPlaceId(addressSelected.place_id)`
`      .then(results => results[0])`
`      .then(latLng => console.log('Success', latLng))`
`      .catch(error => console.error('Error', error));`
`  };`

[2020-04-16 17:15] gabe2code opened #62 "[react-google-places-autocomplete]: Google script not loaded. Infinite error throwing"
I'm receiving this error in an infinite loop cause sometimes I work offline, there is no way to catch that error and no keep throwing every time I worked offline?
Something like the onError method or something?

[2020-04-16 19:06] Tintef commented on #60
Hey @jmalerba-zerology, you can't pass an specific prop to add a name to the input, but you can use the `renderInput` prop to use your own input (so, adding the name).

This is how you could do it:
[code]

If you want to have the default styling you can add this class `google-places-autocomplete__input`

[2020-04-16 19:29] jmalerba-zerology commented on #60
@Tintef  ah alright, awesome. That covers that. I did however realize one other thing that I need too... To my knowledge I see no way to fire a callback (of my own) when i blank the field. My onSelect gets called when i choose a suggestion from the list. When i clear the field, however, it triggers your onChange that you have defined within the GooglePlacesAutocomplete component, but that doesn't

[2020-04-16 20:01] Tintef commented on #60
There isn't a way to do that as of now 🤔 The thing is that just deleting the content of the input is not enough to say that the user blanked the field.

I think a good addition to the library would be a "X" button to clear the field, and that one should the trigger said callback.

If you feel confident enough to add that PRs are more than welcomed! If not, I'll try to add it as soon as I have some

[2020-04-16 21:27] Tintef commented on #62
Hey @gabe2code, there's no way to make that error go, as that error is thrown as the component checks for the google places script to be loaded (if this script is not loaded, the autocomplete will not work -- be able to fetch data).

I'll think on the best way to add the ability to suppress this error, any idea is more than welcomed!

[2020-04-16 21:28] Tintef commented on #61
@gabe2code I'm not a Typescript user myself, but I'll check this as soon as I get a change.

[2020-04-16 23:04] Tintef commented on #61
@gabe2code Noticed it's a bug on the typescript definition for the props. Working on a fix now

[2020-04-16 23:16] #61 closed

[2020-04-16 23:17] Tintef commented on #61
@gabe2code Thanks for catching and reporting this!

In the new release (2.0.4) you can use it like this:

[code]

[2020-04-17 16:33] gabe2code commented on #61
Hi @Tintef , looks very good, thanks for the help 👍

[2020-04-17 16:41] gabe2code commented on #62
Hey @Tintef, I think the error could solve it doing something like `e.preventDefault` or like a try-catch. If the script is not loaded the autocomplete won't work, that's perfect, you reported to the developer or to the user once and that's it... sounds good?
Have a great day buddy

[2020-04-17 17:28] Tintef commented on #62
@gabe2code I don't fully agree. If you a take a look, the code is polling until the google places script is loaded, so in a slow internet, we could see a couple errors until the script is loaded. Given this, I don't think that just showing one error can do the trick given how the library works now.

In order to just throw one error and be able to call an `onError` callback, the library should be a

[2020-04-17 18:15] gabe2code commented on #62
Hey @Tintef, I got your point buddy. What if we try the error in a `componentDidCatch`?. Even in slow networks like mine, the google script not take more than a few seconds to be ready to go...
Another could be to limit the number of attempts 15 sounds rational and later just stop trying.
I hope that helps 😃

[2020-04-18 00:37] Tintef commented on #62
I thought about a max number of attempts, but I don't really like that approach. I'll like to explore if we can know the loading state of the script

[2020-04-19 00:11] gabe2code commented on #62
I did a PR to fix this problem, please check it out when you have some time.
👍

[2020-04-19 22:29] alanbuchanan opened #65 "Handling pressing Enter in a `renderInput` component - like form submission"
Thank you for the excellent library.

I want to be able to run a function when the user hits the Enter key while searching for something.

However, according to the documentation:

I am referring to the `renderInput` prop of the `GooglePlacesAutocomplete` component.

To get around this I tried placing the input field inside a `<form>` with an `onSubmit` prop but that didn't fire.

So I went agains

[2020-04-20 16:05] giacomoalonzi opened #66 "Warning: Can't perform a React state update on an unmounted component."
Hello, I just installed the component and used the basic demo example.

[code]
I got this

[code]

[2020-04-20 20:44] Tintef commented on #66
@giacomoalonzi
Hey, I've never seen this warning while testing the lib.
Can you send more code in order to try to reproduce it? Or even a repository 😄

Thanks!

[2020-04-20 20:59] Tintef commented on #65
Hi @alanbuchanan, really glad that you like the library 😄

You're not supposed to override the `onKeyDown` because that handles the arrows navigation inside the suggestions menu and the ability to press `Enter` to select from the menu!

If you really need to override it, you can (and should) do something like this:

[code]

Hope it helps!

[2020-04-21 08:01] giacomoalonzi commented on #66
Sorry, the repo is private, the code was the basic one I've written in the previous comment. Nothing special

[2020-04-21 20:41] Tintef commented on #66
@giacomoalonzi Can you try creating a minimal reproducible example?
With a fresh react app I'm not able to see this. I would need more insight on what you are doing in order to track down the error.

I suspect that you are briefly mounting the componente and then un-mounting, before the `initalize` function finished (that calls a `setTimeout`).

This might be causing the issue, but I haven't been

[2020-04-22 10:26] firestar300 opened #67 "Check the value onChange"
Hello !

It's not a bug but a question about how to check the value of the Places Autocomplete component. In my case, I have a multi steps form and the field must be valid before accessing to the next step. In my "Billing Address" step I have the following code :

[code]

As you can see, I pass to my `handleFieldDatas` props a boolean parameter `isValid` on my `<GooglePlacesAutocomplete />` compon

[2020-04-22 15:30] Tintef commented on #67
Hi @firestar300 !

You're not supposed to override the onChange because the component handles a inner state.

If you really need to override it, you can (and should) do something like this:

<GooglePlacesAutocomplete
  apiKey="*********"
  onSelect={console.log}
  renderInput={(props) => (
    <input
      {...props}
      onChange={(ev) => {
        props.onChange(ev);

        console.log('Hi @f

[2020-04-22 20:40] firestar300 commented on #67
Hi @Tintef ! Thanks for your reply. It works as expected (๑•̀ㅂ•́)و

[2020-04-22 20:40] #67 closed

[2020-04-22 21:21] Tintef commented on #65
@alanbuchanan Closing this one as it's pretty simliar as #67 and OP there confirmed that it worked.

Let me know if you have any more doubts/concern!

[2020-04-22 21:21] #65 closed

[2020-04-25 00:40] Tintef commented on #60
@jmalerba-zerology Just noticed you can do a similar approach to what I suggested on #67!

[2020-04-25 00:49] #66 closed

[2020-05-05 18:37] elicleveland12 commented on #38
I am attempting to use a single <GooglePlacesAutocomplete/> component to get multiple locations (which will be used as routing waypoints) and I would like to be able to clear the input field every time onSelect hits. I tried @theweiweiway solution and it only seems to work the first time setInput('') fires. I tried two different ways: adding setInput('') to the onSelect function and adding a butto

[2020-05-05 18:44] theweiweiway commented on #38
My workaround:
`
const LocationSearch = ({ children }: any) => {
  const { searchState, searchDispatch } = useContext(SearchContext);
  const [value, setValue] = useState(
    searchState.address ? searchState.address : ""
  );
  const [showing, setShowing] = useState(true);

  useEffect(() => {
    if (searchState.address) {
      setValue(searchState.address);
    }
  }, [searchState.address]);

[2020-05-13 01:42] cwinters8 opened #69 ""You have included the Google Maps JavaScript API multiple times on this page""
I'm getting this error in the console when using this component:
`You have included the Google Maps JavaScript API multiple times on this page. This may cause unexpected errors.`
And sometimes (not all the time - sometimes it works fine but still throws the above warning) when I type in a place name in the rendered component, the dropdown is stuck at "Loading...".

![image](https://user-images.git

[2020-05-13 20:48] Tintef commented on #69
Hi @cwinters8,

Can you check the following:
1. Are you sure you are not importing the google maps somewhere else? For example, did you add to you `index.html`? If so, you should remove it from there or don't rely on the library to add the script for you (just remove the `apiKey prop for that).
2. I noticed you are rendering the component only if your places is an empty array, can you try to alway

[2020-05-14 00:34] cwinters8 commented on #69
Hey @Tintef,

I don't have the Google Maps JS API being imported in index.html or elsewhere. I tried pulling the component out and returning it directly in the main NewHorse function component and that seems to have resolved the bug. I'm not sure exactly why that was the problem but it seems to have been. I'll work on finding a workaround for the conditional render. Thanks very much for your respo

[2020-05-14 01:01] Tintef commented on #69
My guess is that conditionally rendering causes the component to inject the script multiple times 🤔

What version of the library you have installed?

[2020-05-14 01:04] cwinters8 commented on #69
2.0.5

[2020-05-14 01:48] Tintef commented on #69
Thanks! I'll take a look at it over the weekend. Glad you have a workaround until then 🙂

[2020-05-14 02:24] cwinters8 commented on #69
Cool! Also, thanks very much for the great library. It's super handy and has already saved me a lot of headaches.

[2020-05-18 09:38] firestar300 commented on #62
Hello, any news on this PR ?

[2020-05-19 09:07] Hassan-Zahid opened #70 "Warning: Using UNSAFE_componentWillReceiveProps in strict mode is not recommended"
Easily recreatable when accessed in `<React.StrictMode>`. Any suggestions or recommendations for this one would be highly appreciated.

<img width="1680" alt="Screenshot 2020-05-19 at 1 54 24 PM" src="https://user-images.githubusercontent.com/5285786/82307561-f5dbd800-99d9-11ea-8d0f-35cc8b16f5ba.png">

[2020-05-19 15:12] gabe2code commented on #62
I've been complicated with a project, I will be uploading the changes
hopefully in this week.

El lun., 18 may. 2020 a las 5:38, Milan Ricoul (<notifications@github.com>)
escribió:

[2020-05-19 19:54] Tintef commented on #70
@Hassan-Zahid I'm not sure if there's something for you to do on your side, the library needs an update to stop using that and move to `componentDidUpdate`.

I'm not sure when I'll be able to take a look a this, but PRs are welcomed!

[2020-05-21 02:56] #69 closed

[2020-05-21 02:59] Tintef commented on #69
@cwinters8 Thanks again for reporting this!

A new fixed version `2.0.6` is already published 😄

[2020-05-21 19:29] cbaron3 opened #72 "suggestionsClassNames not being applied"
I am trying to change the cursor and opacity when a user is hovering over/clicking on a suggestion. To do so, I want to pass in a custom class name using suggestionsClassNames.

Right now I have:

`<GooglePlacesAutocomplete
    suggestionsClassNames={{ container: '', suggestion: '', suggestionActive: "custom-suggestions-classname--active" }}
`

With this in my main.css

`.custom-suggestions-classn

[2020-05-21 19:36] #72 closed

[2020-05-21 19:36] cbaron3 commented on #72
Solved by

`{{ container: '', suggestion: "custom-suggestions-classname--active" suggestionActive: "custom-suggestions-classname--active" }}`

[2020-05-23 08:37] NikolasJody opened #73 "suggestion not loading"
script for google API has been loaded in inde.html, suggestions didn't load, tried to use the APIKey props, still not loaded. weird. no referrer  not allowed error on console. Maybe ive used it wrong?

[2020-05-23 08:41] NikolasJody commented on #69
i have the same problem with this

[2020-05-23 14:24] Tintef commented on #69
@NikolasJody what version of the library you have installed?

[2020-05-23 14:25] Tintef commented on #73
Hi @NikolasJody, can you provide some sample code on how you are trying to use it? And the installed version?

Thanks!

[2020-05-23 14:32] NikolasJody commented on #73
hi @Tintef i seem to have found a problem, it is because i have two components with google api on the same page. for some reason only one of them can work at a time. i have fixed it to a certain degree by using another library for my maps.

[2020-05-23 14:32] #73 closed

[2020-05-28 09:18] NikolasJody opened #74 "i integrated google maps api to show the current location of my marker, whether changed by dragging marker or by autocomplete. i want to make the marker drag to override the value in the autcomplete search box, how can i do this?"
i have placed placeholder as the current address, when i move the marker, the placeholder's value change accordingly, but if i use the autocomplete box, the value of the search box wont change unless i type in a new input.

[2020-05-28 09:31] NikolasJody commented on #74
i found a solution. it seems if you put the initial value as address and the map changes the value of the address, the search box will update accordingly. so initial value is in essence value?

[2020-05-31 21:18] Tintef commented on #74
Yeah... That needs a small refactor 😓

[2020-05-31 21:18] #74 closed

[2020-06-13 11:09] Zeshan316 opened #75 "Initial value does not showing in autocomplete"
[code]

[2020-06-13 11:10] #75 closed

[2020-06-13 11:12] Zeshan316 commented on #75
related to this
https://github.com/FaridSafi/react-native-google-places-autocomplete

[2020-06-14 12:54] MeeTeeT opened #76 "Adding suggestion to list"
Hi,

How can i add suggestion to List.
I mean, if there is no google autocomplete suggestion found, i would like input val to be a suggestion in the suggestion container.

Thanks.

[2020-06-14 21:44] Tintef commented on #76
Hi @MeeTeeT, for that, you would need to use a custom function to render the suggestions. Here's the docs about how to use it: https://github.com/Tintef/react-google-places-autocomplete#rendersuggestions

You'll need to check if the `suggestions` are empty, and, if they are, render the desired value as an option.

Hope this helps!

[2020-06-15 12:44] MeeTeeT commented on #76
Hi, thanks to your reply.
I will updates in few hours with codes (at work for now)

I already use custom function for suggestion and I managed to add a personal suggestion if there are google suggestions.
But it seems that is there is no google suggestation (ex: input "aaaazzzzjdjjfjf"), the suggestion list doesn't appear even if I customize it by adding input field value in suggestion list.

I wi

[2020-06-15 22:05] Tintef commented on #76
@MeeTeeT Yes, you are right, if there are no suggestions nothing gets renders 😞 , forgot about that.

You can find that here: https://github.com/Tintef/react-google-places-autocomplete/blob/25396a4e7ad205dc92fe213cbb73c03558fe0cf0/src/GooglePlacesAutocomplete/index.js#L283

I'm open to move that line below the if statement that returns the custom suggestions render function, but can't do it until

[2020-06-16 11:11] sashberd opened #78 "Language restriction"
Hi
I wonder if you can add prop for language restriction so I can use like:
`https://maps.googleapis.com/maps/api/js?key=${googleApiKey}&libraries=places&language=${language}`

[2020-06-16 23:04] Tintef commented on #78
Hey @sashberd, for that, I would recommend you to don't rely on the `apiKey` prop to inject the script for you, and just add it yourself on your `index.html`.

I don't think is a super common case to deserve it's own prop

[2020-06-17 08:56] #78 closed

[2020-06-17 19:17] FedeRoma opened #81 "Consulta sobre Input"
Buenas! Tengo una consulta, en la propiedad renderInput el componente claramente espera un objeto del tipo <input>.
¿Se podría mejorar para que espere algun otro objeto o por ejemplo un TextField de material?

Gracias!

[2020-06-18 01:32] Tintef commented on #81
Buenas @FedeRoma

Se puede utilizar perfectamente un `TextField` de material en la función `renderInput`, te dejo un ejemplo: https://codesandbox.io/s/busy-blackwell-nnreg (vas a tener que poner tu propia `api_key` de google places).

Saludos!

[2020-06-18 17:27] Tintef commented on #81
I'll close this one as it's doable with the library as is.

[2020-06-18 17:27] #81 closed

[2020-06-18 17:32] Tintef opened #82 "Add X button to clear input"
I think a good addition to the library would be a "X" button to clear the field, and that one should trigger a provided callback (if provided).

[2020-06-18 18:42] FedeRoma commented on #81
Gracias! Un abrazo!

[2020-06-20 17:49] karlkristopher opened #83 "Best way to hide the API key within index.html?"
Does anyone have a suggestion on how too keep your api key secure upon deployment?

I am using an .env file in development, but when I npm run build, the html file reverts to showing the api key. And then if I manually change it back, the deployed version is not accepting the syntax of (%REACT_APP_KEY%).

[2020-06-21 02:04] Tintef commented on #83
Hi @karlkristopher, what you are trying to do is not possible. The react compiled code (or any framework) will include any environment variable you use, and this is fine and what you should expect from any JS code.

What you should do is add your domain on the whitelist inside google's console so only the given domain(s) can use your api key.

[2020-06-21 02:04] #83 closed

[2020-06-24 18:16] vpugh opened #85 "autoCompletionRequest types not working as expected"
When trying to search using a zipcode, I'm not getting any results when I'm using the autoCompletionRequest.
Example:
[code]

Is this being used properly or can you not use the types like this? I can't use `types: ['(region)']`, it's too restrictive so I was hoping to use an array of a bunch of items. Something like `['postal_code', 'locality', 'administrative_area_level_1', 'neighborhood']` but I

[2020-06-24 22:20] Tintef commented on #85
@vpugh I think you can't use types like that on an autocompletion request, you can only use the `(region)` one 😞

In the weekend I'll play around and have a real answer

[2020-06-25 23:10] chtay1 opened #86 "Add onInputValueChange function"
Would it be possible for you to add an onInputValueChange that is called in the internal changeValue function so that the current input value is available easily outside of the component or would you accept a pull request if it were submitted.

    changeValue = (value) => {
        this.setState({ value });

        if (value.length > 0) {
          this.fetchSuggestions(value);
        } else {

[2020-06-25 23:47] Tintef commented on #86
Hi @chtay1, you can do that already! Please refer to this issue: https://github.com/Tintef/react-google-places-autocomplete/issues/67

[2020-06-25 23:47] #86 closed

[2020-06-26 00:19] chtay1 commented on #86
Great, thanks! Didn't think of that.

[2020-07-05 03:36] #76 closed

[2020-07-05 03:38] Tintef commented on #85
@vpugh I'll close this as I confirmed that's not doable with google places autocomplete API.
If someone knows how to do it, please comment below!

[2020-07-05 03:38] #85 closed

[2020-07-08 20:58] lslee714 opened #89 "Warning: Each child in a list should have a unique "key" prop."
Getting a `Warning: Each child in a list should have a unique "key" prop.` error when using this library inside a React Typescript application.

To reproduce:
- Inside a react with typescript app, initialize GooglePlacesAutocomplete with most basic configurations
- Start typing the ABCs, around 5-10 characters, this warning floods the console.

I probably could fix it and make a PR, but I thought

[2020-07-08 22:19] Tintef commented on #89
@lslee714 That's super weird 🤔 The only list is the suggestions list and it's actually using the suggestion id as the `key`: check it [here](https://github.com/Tintef/react-google-places-autocomplete/blob/4886c16b529f9371378f4386f8a2ac7d112720d2/src/GooglePlacesAutocomplete/index.js#L304)

I'm wondering what were the ids of the suggestions returned from that autocomplete call 🤔

But yeah, if you f

[2020-07-08 23:08] lslee714 commented on #89
Yeah it's weird, the error only happens once and after it happens, it doesn't complain again. I'll take a look sometime in the near future haha

[2020-07-19 08:20] Hunartimon opened #94 "Help with debugging"
Hi, I'm trying a quite basic setup:

[code]

The api key is fresh and unrestricted, places API is enabled.
Yet after typing in the input, a dropdown list comes up with a 'Loading...' item, and noting more happens.

Any suggestion on what could go wrong here, or how can I debug & check the response from the Places API?

[2020-07-19 16:13] Tintef commented on #94
Hey @Hunartimon, a couple things:

1. Check the google script is injected as expected on your page
2. Does the console show any errors?
3. You can check if the script is loaded by typing `window.google.maps.places` on the devtools console, if that doesn't exists, it means that google maps script didn't loaded as expected

[2020-07-19 18:50] Tintef commented on #62
Fixed by #88

[2020-07-19 18:50] #62 closed

[2020-07-20 07:51] Hunartimon commented on #94
Thank you for the help!

The issue was not with this library, but I'll describe my solution for future reference.

Although it is stated on google docs (https://developers.google.com/maps/gmp-get-started#enable-api-sdk), that enabling Places API automatically enables other APIs (like Maps JavaScript API), that was not true for me, and Maps JavaScript API had to be enabled too for this to work.

[2020-07-20 07:51] #94 closed

[2020-07-20 13:36] Tintef commented on #94
Glad to hear you were able to fix the issue 😄

[2020-07-22 10:14] bencehornak commented on #89
I think the problem is on Google's side. Sometimes their API omits the id from the returning JSON for no reason :grimacing:

For example, I intercepted this URL in the DevConsole:
[code]

If I fetch it repeatedly, sometimes `id` is included, sometimes it's not :unamused:

Good response:
[code]

Bad one:
[code]

[2020-07-22 10:58] bencehornak commented on #89
Until it gets fixed, changing the `key` from `suggestion.id` to `suggestion.place_id` [here](https://github.com/Tintef/react-google-places-autocomplete/blob/4886c16b529f9371378f4386f8a2ac7d112720d2/src/GooglePlacesAutocomplete/index.js#L304) is a workaround

[2020-07-22 15:26] Tintef commented on #89
@bencehornak Awesome, thanks for that research!

I think using the `place_id` is a good workaround and will add it to next minor realase

[2020-07-22 16:27] lslee714 commented on #89
@bencehornak Thanks for finding that! Haven't had a chance to investigate, thanks @Tintef for the update on the plans to fix it.

[2020-07-23 16:27] tomthornton opened #97 "regeneratorRuntime is not defined - NextJS Build Error"
Works fine in production, but is throwing an error in my builds.

`> Build error occurred
ReferenceError: regeneratorRuntime is not defined
    at /tmp/build_36f04826_/node_modules/react-google-places-autocomplete/dist/react-google-places-autocomplete.cjs.prod.js:317:48
    at /tmp/build_36f04826_/node_modules/react-google-places-autocomplete/dist/react-google-places-autocomplete.cjs.prod.js:346:4

[2020-07-23 18:39] Tintef commented on #97
@tomthornton My guess is that you need to add the babel config to support async/await.

If you can share a minimal reproducible repository, I can take a deeper look.

[2020-07-26 01:53] #89 closed

[2020-07-26 01:55] Tintef commented on #89
@lslee714 released on version 2.2.2 🥳

[2020-07-27 13:55] macrozone commented on #97
@tomthornton we have also the same problem with nextjs in a project. It works fine in develop, but once you try to build you will get this error

[2020-07-27 13:58] alessandrocalia commented on #97
We have the same problem with Gatsby. It works fine in develop, but once you try to build you will get this error

[2020-07-27 13:59] macrozone opened #99 "change react to peer dependency"
react should not be a dependency, but a peerDependency.

You should add it as devDependency as well for development

[2020-07-27 13:59] alessandrocalia commented on #97
We have the same problem with Gatsby. It works fine in develop, but once you try to build you will get this error

[2020-07-27 14:27] zollinger commented on #97
@Tintef here's a minimal next.js project for you to reproduce the issue (run the dev server or build):
https://github.com/zollinger/repro-react-google-places-autocomplete-nextjs

[2020-07-27 14:31] Tintef commented on #97
Thanks! I'll try to take a look today or tomorrow at this.

I remember [this issue](https://github.com/Tintef/react-google-places-autocomplete/issues/34) about styles on next.js, could that be the issue?

Please let me know if any of you guys have the chance to try that (or know that that's not the issue 😅 ).

[2020-07-27 15:10] alessandrocalia opened #100 "WebpackError: ReferenceError: regeneratorRuntime is not defined - Gatsby build error"
I start to have this problem from 2.2.0 in a gatsby project (it works only with a downgrade to 2.1.0). It works fine in develop, but once you try to build you will get this error:

-----------------------------------------------
ERROR #95313

Building static HTML failed

See our docs page for more info on this error: https://gatsby.dev/debug-html

  428 |     var _componentDidMount = _asyncToGener

[2020-07-27 19:11] Tintef commented on #97
@zollinger @macrozone @tomthornton Can any of you guys test the `2.3.0-beta.1` version?

```yarn add react-google-places-autocomplete@2.3.0-beta.1```

It's working for me in @zollinger repro repo, but I would like someone else to give it a try before releasing it. Thanks!

[2020-07-27 19:12] Tintef commented on #100
@alessandrocalia  Can any of you guys test the 2.3.0-beta.1 version?

```yarn add react-google-places-autocomplete@2.3.0-beta.1```

It's working for me in a next project and I do think it's the same issue, but I would like someone else to give it a try. Thanks!

[2020-07-28 00:06] #97 closed

[2020-07-28 00:09] Tintef commented on #97
Fix released on v2.3.0

If it doesn't work, please comment here or open a new issue

[2020-07-28 00:09] Tintef commented on #100
Fix released on v2.3.0

If it doesn't work, please comment here or open a new issue

[2020-07-28 00:09] #100 closed

[2020-07-28 14:19] alessandrocalia commented on #100
Yes, I used 2.3.0 and it works. Thank you!

[2020-07-30 12:15] azizcoban commented on #82
Yes we should somehow change the value of the input. Please I need that functionality for my company's project. Otherwise I will remove this component...

[2020-07-30 14:46] Tintef commented on #82
@azizcoban This issue is to clear the input value, not change it.

If you want to somehow change the value for something else, you may be able to do something [like this](https://github.com/Tintef/react-google-places-autocomplete/issues/67).

If that doesn't fit your needs, open a new issue with as many details as possible.

Thanks!

[2020-07-30 20:20] orenk86 opened #102 "Set active suggestion on mouse hover"
Hi,
First of all, loving the library! Awesome job! 👍
I want to set the currently active suggestion in response to a mouse hover.

I managed to do this with CSS using `:hover` but the suggestion that is already active from scrolling with my keyboard arrows remains active (in addition to what I'm hovering over).

Any easy way to do this? Thanks!

[2020-07-30 22:18] Tintef commented on #102
Hi @orenk86, thanks for the kind words 🤗 Glad to hear you are enjoying the library!

The component calls [this method](https://github.com/Tintef/react-google-places-autocomplete/blob/master/src/GooglePlacesAutocomplete/index.js#L137-L156) whenever a keydown event occurs, and that set an internal `activeSuggestion` state property.

So, my guess is that we are missing a `onHover` method to set that

[2020-07-30 23:05] cemeai opened #103 "autocompletionRequest not recognized"
version: 2.3.0
`let LatLng = {lat: 0, lng: 0}`
`<GooglePlacesAutocomplete`
 `     apiKey='xxxx'`
`      onSelect={console.log}`
 `       withSessionToken={true}`
`        debounce={300}`
`        autocompletionRequest={`
`          location: LatLng`
 `       }`
`      />`

I am getting this error

[2020-07-30 23:36] Tintef commented on #103
@cemeai You are not passing an object. Try this:

[code]

[2020-07-30 23:39] cemeai commented on #103
thanks thats is my bad, forgot first {} are not actually the object. sorry for the silly mistake

[2020-07-31 01:23] #103 closed

[2020-07-31 01:58] #82 closed

[2020-07-31 14:39] orenk86 commented on #102
Sure @Tintef , after a quick look at the code, it seems pretty easy to add. I'll give it a go during the weekend 🙂

As for the Readme, yes please update it if you have time. Thanks!

[2020-07-31 19:14] Tintef commented on #102
Awesome! I added that [here](https://github.com/Tintef/react-google-places-autocomplete#how-to-contribute)

Thanks!

[2020-08-01 16:52] orenk86 commented on #102
Here you go: https://github.com/Tintef/react-google-places-autocomplete/pull/104

[2020-08-01 23:49] Tintef commented on #102
@orenk86 Awesome, I'll take a look as soon as I can.

Was the how to contribute guide useful?

[2020-08-02 07:12] orenk86 commented on #102
Yes it was. I didn't know about `yalc` before. Testing local packages suddenly became much easier :)

[2020-08-02 22:28] #102 closed

[2020-08-02 22:30] Tintef commented on #102
@orenk86 Merged and published on v2.3.2, thanks!

[2020-08-06 08:21] cemeai opened #105 "Getting the distance"
According to google ocumentation you need to send the origin param to get the distance in meters. Is this being managed cause I dont seem to be getting the distance in the result.

I know this module doesnt manage origin just location as to sent the lat long, is there a work around or a fix I can use?

[2020-08-07 01:10] Tintef commented on #105
@cemeai Can you point the documentation you are referring to?

[2020-08-07 16:23] cemeai commented on #105
Sure here it is the section i am tlking about

and the link https://developers.google.com/places/web-service/autocomplete

[2020-08-07 16:46] Tintef commented on #105
@cemeai By a quick read of those docs my guess is that it should be added on the [autocompletionRequest](https://github.com/Tintef/react-google-places-autocomplete#autocompletionrequest). But I don't think that would work.

What this library uses is actually the [places library](https://developers.google.com/maps/documentation/javascript/places), and I can't seem to find a parameter or configurati

[2020-08-10 06:48] redimongo opened #106 "Mulitple locations"
I am trying to create away for a person to do multiple locations. For example say I have
[code]
That allows me to only select 1 location. But I want to allow users to have up to 5 different locations.
Is their anyway we can put this inside https://material-ui.com/components/autocomplete/

Thank/s

[2020-08-10 06:51] redimongo commented on #105
@cemeai & @Tintef  you are right you can't do it that way. However a solution to your problem would be to pass the selected location to

[code]

Now how would you do this:
(NOTE: NOT TESTED)
[code]

[2020-08-10 11:48] Tintef commented on #106
@redimongo So you would like a multi-select type feature? If so, that's not supported.

I'm indeed planning a possible rewrite to use react-select under the hood, that should give that ability, but I don't have any idea on when that may happen.

A possible solution for you is to add the selections to a list underneath the select box or something like that. So the select is still a "single value se

[2020-08-11 14:53] Tintef commented on #105
I'll close this one as we confirmed it's not doable with google places API

[2020-08-11 14:53] #105 closed

[2020-08-12 10:27] redimongo commented on #106
@Tintef So I have a work around but can't seem to get it to work 100% Basically what happening is, its only updating the last array.

https://codesandbox.io/s/youthful-hofstadter-dp4mx?file=/src/App.js

I know this may not be a direct issue with your script, and I will look at figuring out if I can help improve your code and share it back with you.

But If you have any suggestion with the code abo

[2020-08-12 10:31] redimongo commented on #106
Is this the file I would need to edit? As I see the input field which if am correct this could be a formik <Field/>
/src/GooglePlacesAutocomplete/index.js

[2020-08-12 23:44] Tintef commented on #106
@redimongo Yes, that's the file.

Anyway, I won't accept any PR adding an external library such as formik.

Also, after thinking a bit more you can do something like this: https://codesandbox.io/s/sharp-tharp-s69i1

I think you can also use a custom `renderInput` function to show a multiselect input, doing something like this: https://codesandbox.io/s/agitated-bush-l7s7m

I'll close this issue as

[2020-08-12 23:44] #106 closed

[2020-08-13 10:10] redimongo opened #107 "types how? documentation not clear"
So I am trying to get (cities) and I cant work out how I intergrate that into your script.
`
Personally I thought it would be
[code]

[2020-08-13 12:18] Tintef commented on #107
@redimongo Yes, that's how it should work. You can find the available types [here](https://developers.google.com/places/supported_types#table3).

I think you should use `[(cities)]` for what you want, as "The (cities) type collection instructs the Places service to return results that match locality or administrative_area_level_3." (from the docs linked above).

Also, from my understanding, you ca

[2020-08-17 06:17] redimongo commented on #107
That worked, we can close this.

[2020-08-17 06:17] #107 closed

[2020-08-17 06:43] redimongo opened #108 "Cant seem to get location from results"
So The issue I am running into is the how do I send the results to ```

  geocodeByAddress(description)
                        .then(results => console.log(results))

Like it works, but then I need to send that result to `getLatLng` function and it seems to not work. Based on your plugin code I should be able to do this. in theory I should do something like.
[code]

This however does not work. An

[2020-08-17 11:29] Tintef commented on #108
@redimongo

`getLatLng` expects an object, not an array of objects as you're passing.

You can take a look at the [docs here](https://github.com/Tintef/react-google-places-autocomplete#getlatlng-api).

[2020-08-17 11:29] #108 closed

[2020-08-17 18:11] Tintef commented on #99
@macrozone Thanks, I'm currently doing a rewrite of the library using TS and I'll be fixing this issue on that 😄

[2020-08-20 12:03] bahaa-kallas opened #109 "Unnecessary re-renders triggered whenever click event gets fired"
While i was investigating some performance issues within my projects I noticed that your component re-render on every click. So I used React profiler and it turns out the `suggestions` state variable keep changing for each click (even outside of the component). I looked into the source and found this:
https://github.com/Tintef/react-google-places-autocomplete/blob/db8e6b4d7f2a4eac1dd7d85d6bb0914e8

[2020-08-20 13:12] Tintef commented on #109
Hi @bahaa-kallas, thanks for reporting this.

I won't be updating the current code. This is because I'm currently working on a new version of this library that I hope to release in mid-September.

This new version will be written in TypeScript and I'm 99% sure I'll using [react-select](https://react-select.com/). Using this instead of the current input and suggestions list will remove the need to

[2020-08-20 13:18] bahaa-kallas commented on #109
Good to here that. is there a way to get informed when the new library gets published ?

[2020-08-20 13:20] Tintef commented on #109
I will close this issue once it gets published, I think you'll get a notification of some sort.

I can also @ you when I close this 😄

[2020-08-24 03:15] Tintef commented on #109
@bahaa-kallas FYI, this is already released as an alpha version, you can install it with:

```yarn add react-google-places-autocomplete@3.0.0-alpha.0```

And you can find the new docs [here](https://tintef.github.io/react-google-places-autocomplete/)

[2020-08-24 03:15] Tintef commented on #99
@macrozone  FYI, this is already released as an alpha version, you can install it with:

```yarn add react-google-places-autocomplete@3.0.0-alpha.0```

And you can find the new docs [here](https://tintef.github.io/react-google-places-autocomplete/)

[2020-08-24 03:16] Tintef commented on #70
@Hassan-Zahid  FYI, this is already released as an alpha version, you can install it with:

```yarn add react-google-places-autocomplete@3.0.0-alpha.0```

And you can find the new docs [here](https://tintef.github.io/react-google-places-autocomplete/)

[2020-08-28 11:37] Tintef commented on #109
@bahaa-kallas This is already merged in master (but still an alpha release), please let me know if this is still an issue on `v3.0.0-alpha.1`

[2020-08-28 11:37] #109 closed

[2020-08-28 11:37] Tintef commented on #99
@macrozone This is already merged in master (but still an alpha release)

[2020-08-28 11:37] #99 closed

[2020-08-28 11:37] Tintef commented on #70
@Hassan-Zahid This is already merged in master (but still an alpha release)

[2020-08-28 11:38] #70 closed

[2020-08-28 11:38] Tintef commented on #10
@Solobearus @kapilaramji I'll close this as this is now handled by [react-select](https://react-select.com/) and they provide various ways for handling this scenario

[2020-08-28 11:38] #10 closed

[2020-08-28 11:50] Tintef opened #112 "Only publish build files"
Only the `build` folder should be published to npm, for some reason, this doesn't seem to work:

[code]

[2020-08-31 08:38] subu873 opened #114 "Please share all option like onselect and country restriction and placeholder"
worst documentation

[2020-08-31 15:47] Tintef commented on #114
@subu873 Feel free to contribute by writing what you find missing on the docs.

Also, have you seen the [webpage](https://tintef.github.io/react-google-places-autocomplete/)?

You can find a [props section](https://tintef.github.io/react-google-places-autocomplete/docs/props/) there.

[2020-08-31 15:47] #114 closed

[2020-09-03 07:09] Magum23 opened #115 "TypeError: Cannot read property 'maps' of undefined"
Hello I think, there might be problem with the geocoder utility function since it throws error with an example code which is provided on the website.

![image](https://user-images.githubusercontent.com/49533200/92082335-abce0500-edc4-11ea-8776-084b42c70f01.png)

[2020-09-03 13:27] Tintef commented on #115
@Magum23 In order to use the utility function you need to inject Google Maps API, are you injecting it?

You can add this to your `head`:

[code]

[2020-09-08 12:23] bahaa-kallas opened #116 "User unable to enter a location (if the location not found via autocomplete)"
I was trying out the new version of the component. While its so cool to use react-select. But at the same time this choice some how forced wrong assumption

**The Wrong Assumption:**
All addresses can be found via AutoComplete

**Why Its Wrong ?**
Because at least in my country (Austria) there is too many places which can't be found on google maps and thus they cannot be available within the optio

[2020-09-08 21:26] Tintef commented on #116
@bahaa-kallas What do you thing about the last example [here](https://react-select.com/creatable).

I think that covers your issue 🤔

Also, I think you should be able to use the `https://react-select.com/props#creatable-props` prop to format the create option (for instance, only show the text). Check all the [props here](https://react-select.com/props#creatable-props).

Let me know if this solves

[2020-09-09 08:45] bahaa-kallas commented on #116
I didn't know about the existence of `formatCreateLabel` prop. so thanks for pointing that out and this will solve the problem for sure.
But the problem right now is that you are using the Async react-select:

https://github.com/Tintef/react-google-places-autocomplete/blob/068cbac0ba7edf6feeb8d33621335fd6dd7765ae/src/GooglePlacesAutocomplete.tsx#L2

Which is completely different component than the

[2020-09-09 11:50] Tintef commented on #116
@bahaa-kallas I like the option of adding a `creatable` prop, but I think it should use `import AsyncCreatableSelect from 'react-select/async-creatable';`.

That component and adding this:
[code]

[2020-09-09 16:21] codepurse opened #117 "I cannot get the lat and lang of the address."
Im trying to get the lat and lang of the address using getlatlang but im getting null value instead. Below is my currrent code.

[code]

And here's my sample onclick submit

[code]

Any help would be appreciated :)

[2020-09-10 00:42] Tintef commented on #117
@codepurse Hi!

Your issue is that `geocodeByAddress` expects a `string` and you are passing the entire object that's returned from Google's API. You should do `geocodeByAddress(value.description)`.

[Here's a working example](https://codesandbox.io/s/practical-bogdan-cnxct)

Also, I noticed you are using a version prior to 3.0.0-alpha, I know it's still in alpha but I'll be releasing 3.0.0 this w

[2020-09-10 00:42] #117 closed

[2020-09-10 06:37] #115 closed

[2020-09-14 03:19] codepurse opened #119 "How to pass lat and lat in array when i select a place."
I have an array like this. I want to add the value of lat, lang and place in array when i select a address. But I'm getting null value instead.

[code]

This is on my index.js
[code]

But i tried the click function and its working , it add the value in array.

[code]

but how can i automatically add the value in array without clicking the button. Thanks :)

[2020-09-15 12:04] maximiliano-gt opened #120 "Add style to MenuList"
Hello i need to add a style to the MenuList (Dropdown) , how can i do that? there is nothing about styling in the documentation.

Thank you.

[2020-09-15 12:38] maximiliano-gt opened #121 "Get data from input"
How can i get the result selected by the user?

im doing this but is not working:

[code]

[2020-09-15 14:58] Tintef commented on #120
@maximiliano-gt You can take a look at customization [here](https://tintef.github.io/react-google-places-autocomplete/docs/examples#customization).

Basically, you need to add [styles to the underlying react-select](https://react-select.com/styles).

[2020-09-15 14:59] Tintef commented on #121
@maximiliano-gt My recommendation is to use the select as a [controlled input](https://tintef.github.io/react-google-places-autocomplete/docs/examples#controlled-input).

[2020-09-15 15:04] Tintef commented on #119
@codepurse You should push to your coordinate array inside the `handleChange` function (you should either have `coordinate` as part of the component state or as a prop).

[2020-09-15 15:04] #119 closed

[2020-09-15 16:19] codepurse opened #122 "Broken textbox."
I have my data in the localstorage and i tried to put in as a defaultInputValue. But the output is like this.

![2020-09-16 00 16 43 localhost 212eb49cc1ab](https://user-images.githubusercontent.com/47669262/93237095-37c33200-f7b2-11ea-8efa-3bb3b239e935.jpg)

It happens only when the defailtInputValue is the localstorage data.

[2020-09-15 19:56] Tintef commented on #122
@codepurse This works for me:
[code]

So it doesn't looks like a problem with the library

[2020-09-15 19:56] #122 closed

[2020-09-15 20:30] #112 closed

[2020-09-16 05:03] codepurse commented on #122
I dont know but everytime I read the local storage its gets "Local storage not defined" thats why i add the below code.

[code]

And I tried the put the global.config in DefaultInputValue and its the same its like broken text.

[code]

[2020-09-16 12:10] Tintef commented on #122
@codepurse That looks like it's not related to this library. Try asking on stackoverflow.

[2020-09-16 20:58] bryantee commented on #121
I very much am interested in implementing as a controlled component but the basic example is not working for me.

[code]

`onChange` never appears to be getting called, even after a selection is made. And so `value` is never updated. 🤔

[2020-09-16 21:11] Tintef commented on #121
@bryantee Can you send some more code or a reproducible repo/codesanbox?

I was able to see it working with this:
[code]

[2020-09-17 03:25] codepurse commented on #121
Hmm. I dont know if I need to open a another issue. But Ill post it instead because its kinda similar i guess.

I cannot change the value when Im trying to change the state.

`import React, { useEffect, useState } from "react";
import GooglePlacesAutocomplete from "react-google-places-autocomplete";
import "./styles.css";

export default function App() {
  const [value, setValue] = useState(null);

[2020-09-17 12:31] Tintef commented on #121
@codepurse Please read (react-select StateManager prop)[https://react-select.com/props#statemanager-props].

If you want to use `value` you need to provide `One of<Object, Array<Object>, null, undefined>`.

For strings, you should use `inputValue` instead.

[2020-09-19 19:39] Tintef commented on #121
Closing this one as it seems everything has been solved.

[2020-09-19 19:39] #121 closed

[2020-09-19 19:39] #120 closed

[2020-09-19 19:40] Tintef opened #123 "[enhancement] Reduce bundle size"
Check [bundlephobia report](https://bundlephobia.com/result?p=react-google-places-autocomplete@3.0.0)

[2020-09-20 16:31] bryantee commented on #121
Sorry @Tintef saw your comment and hadn't had a chance to go back and investigate. Dropped back to v2.x as we had in our existing project in the meantime.

If I have anytime over the next week to get back into it I'll be sure to post back here.

[2020-09-30 13:35] accelerar-innovation opened #125 "[country-restrictions] unable to restrict the search to a specific country"
Please I cant see a demonstration of this on the documentation

[2020-09-30 16:48] Tintef commented on #125
@accelerar-innovation You need to use the [`autocompletionRequest` prop](https://tintef.github.io/react-google-places-autocomplete/docs/props#autocompletionrequest). You can find an example on the linked docs 😄

[2020-09-30 16:48] #125 closed

[2020-10-01 14:06] RiinaVi commented on #116
I just came up with this quick and simple solution that worked for my particular situation:

Just added this property to selectProps :
[code]

[2020-10-26 02:48] mendeljacks opened #126 "Is it possible to pass a value property to the box along with the onChange?"
I would like to use this component as a controlled component so that when another component updates the address the GooglePlacesAutocomplete can reflect the change.

There seems to be an onSelect property but no value prop?

[2020-10-26 18:48] Tintef commented on #126
@mendeljacks In order to use it as a controlled component you need to use it [like this](https://tintef.github.io/react-google-places-autocomplete/docs/examples#controlled-input)

[code]

[2020-11-07 01:35] ZacxDev opened #127 "Underlying input autocomplete attribute has incorrect value"
In trying to prevent the Chrome autocomplete from overlapping the react autocomplete suggestions, I noticed that the underlying input has an `autocomplete="off"` attribute.  Confused why this didn't seem to work, I did some research and found [this stack overflow answer](https://stackoverflow.com/a/30976223/5282725).

I believe that the attribute should either be changed to `chrome-off` by default

[2020-11-08 13:54] Tintef commented on #127
Hi @ZacxDev, this library uses [react-select](https://react-select.com/) under the hood to control the select itself. I haven't experienced this issue you're bringing, but from your SO link I can gather this:

If fixing your autofill information doesn't do the trick, you can override the react select's input component like this:
[code]

For more information about overriding react select's componen

[2020-11-08 22:39] #127 closed

[2020-11-10 01:13] mendeljacks commented on #126
I created a minimum reproducible error. The expected behavior here is that the input box should be initialized with the value 123 Main street, however it initializes with nothing in the box and when the user types nothing gets logged. However when a user selects that part works.

<GooglePlacesAutocomplete
            selectProps={{
                value: '123 Main Street',
                onChange

[2020-11-10 03:02] Tintef commented on #126
@mendeljacks For a controlled input value needs to be an object such as `{ label: '123 Main Strret', value: ... }`. If you want to use a string as the initial value you should use the `inputValue` prop as stated on [react-select docs](https://react-select.com/props#statemanager-props) instead of `value`.

`onChange` is called when the user selects an option, not `onSelect` (that's not a prop). If

[2020-11-10 05:27] #126 closed

[2020-11-10 20:57] TylerEikenberg opened #128 "Bug, cannot type again after making selection."
<img width="430" alt="Screen Shot 2020-11-10 at 3 55 00 PM" src="https://user-images.githubusercontent.com/55251251/98732408-196e5280-236d-11eb-8421-2790d05cd608.png">

After typing in the input and making a selection, I can no longer type again in the input to search for something else. Here's my code.

[code]

[2020-11-11 10:58] Tintef commented on #128
@TylerEikenberg Are you including your api key? I tried it on [this codesandbox](https://codesandbox.io/s/upbeat-shape-cjzd6) and it's working fine.

If it's still being an issue for you, please create a codesandbox/repo so I can take a look.

[2020-11-11 14:16] TylerEikenberg commented on #128
@Tintef Yes, I'm including the api key, I just omitted it from my example. I'm seeming to have the same problem with that code sandbox. Here's a gif I recorded. After selecting **Maryland, USA** my cursor is stuck and I can't delete the selection to search again.
![gpabug](https://user-images.githubusercontent.com/55251251/98822121-68b09380-23fe-11eb-8e8d-9abaec6217fa.gif)

Thanks for the quick re

[2020-11-11 17:15] anthowm commented on #128
@TylerEikenberg I think is an enhacement, but can be easy handling with onMenuOpen
https://codesandbox.io/s/purple-snow-11eon?file=/src/App.js
Hope it helps

[2020-11-12 14:34] TylerEikenberg commented on #128
Thank you, this solves my problem. Although its still strange that I have to clear the whole selection rather than being able to backspace it. But this gets the job done. 👍

[2020-11-12 14:34] #128 closed

[2020-11-18 01:55] XGhozt opened #129 "Clear Value feature missing/removed?"
What happened to this? I see merge requests and issues about it but they're all out of date. Is this feature still present? I can't seem to get it to work with `useRef()`.

[2020-11-18 09:04] Goldtek opened #130 "Cannot read property 'place_id' of undefined"
<AsyncSelect
  62 |       {...selectProps}
  63 |       loadOptions={fetchSuggestions}

  65 |     />
  66 |   );
  67 | };

[2020-11-19 17:24] ElGecko76 opened #131 "How to add options in select ?"
Hi,

I would like to add options in select, I tried this:

[code]

But it's written `No options` in `select`.

How can I do please?

Thank you in advance

[2020-11-21 03:59] cjke opened #132 "Warnings in React 16.14.0"
Hi,

Very nice library.

It seems though that it isn't really 100% compatible with the latest React due to deprecation warnings. Technically it still works but the amount of warnings being generated makes it not practical.

It seems related to two things:

- https://fb.me/react-legacy-context in MenuPlacer
- https://fb.me/react-strict-mode-find-node in findDOMNode

I'm only trialing this library a

[2020-11-21 04:07] cjke commented on #132
Never mind its part of the underlying React Select Component - https://github.com/JedWatson/react-select/issues/4094

[2020-11-21 04:07] #132 closed

[2020-11-22 21:59] Tintef commented on #129
Yes, this feature is still present. Please upgrade to the latest version and use `clearValue` prop from [react select](https://react-select.com/props) as indicated [here](https://tintef.github.io/react-google-places-autocomplete/docs/props#selectprops).

[2020-11-22 21:59] #129 closed

[2020-11-22 22:00] Tintef commented on #130
@Goldtek Need more information

[2020-11-22 22:31] Tintef commented on #131
@ElGecko76 You should use `defaultOptions` instead, try this:

[code]

[2020-11-22 22:31] #131 closed

[2020-11-23 03:27] Goldtek commented on #130
on typing in the address of the location it  throws this error specific there is no value.place_id as you specified in your package

[2020-11-24 23:51] usamamashkoor commented on #130
I try to set the value manually like this
`setValue({label:'my address'});`

Then when I try to search from input then I see this error.

Can you please let us know how we can set the custom address? I am getting the custom address from the browser `geolocation.getCurrentPosition`

[2020-11-24 23:53] usamamashkoor commented on #10
Did you guys find any solution for passing the initial address value?

[2020-11-27 01:06] Tintef commented on #130
@Goldtek That's probably an issue with google maps API key for some directions (I can't find which issue, but someone brought this up). If you can provide a way to consistently reproduce this, I'll take a look.

@usamamashkoor Please refer [to this issue](https://github.com/Tintef/react-google-places-autocomplete/issues/126)

[2020-12-04 02:31] kennyt6 opened #133 "How can I use the autocomplete component as an autocomplete as well as an Address 1 field?"
![image](https://user-images.githubusercontent.com/59454837/101113735-dcc10000-3594-11eb-9ce0-04f8b7fd61ab.png)

I would like to be able to use this component to allow the user to start typing their Address 1 field, then allow them to select their address, which will auto fill the rest of the input fields, and display just the Street Number and Name (Address1) in this component.

Any pointers on h

[2020-12-04 18:01] #133 closed

[2020-12-23 20:47] usamamashkoor opened #135 "Do I need to google script inside the react or will this package will automatically includes the google maps script?"
Hi in the npm package, I can see this example.

[code]

My question is this do I need to add the Script tag of google maps inside the react component or not, If I do then can someone let me know where should I include it.

I am talking about this script tag
[code]

[2020-12-23 22:12] Tintef commented on #135
@usamamashkoor If you pass down the `apiKey` prop with your google maps key, you don't need to add a script tag, the package will inject it in your HTML for you.

[2020-12-23 22:12] #135 closed

[2020-12-23 22:17] usamamashkoor commented on #135
@Tintef Thanks man, I really appreciate your help bro.

[2020-12-24 17:39] usamamashkoor opened #136 "How can I pass a a initial or default value when the page loads"
Hi, I want to set an initial google address when the page loads, can someone let me know how we can do that.

Here is what I have tried.

I have an address a Google address as a String which is this
"Faisalabad, Pakistan"
I want to show this address as an initial value when the page loads
Here is my code.

[code]

But the data is still not showing correctly..?

Can someone let me know how to show

[2020-12-25 23:30] Tintef commented on #136
@usamamashkoor It doesn't look like `query` is defined on your snippet. You should be using `objQueryData`. If you use that one, does it work?

If not, take a look at [this issue](https://github.com/Tintef/react-google-places-autocomplete/issues/126)

[2020-12-27 23:04] Tintef commented on #136
Closing as the related issue should work

[2020-12-27 23:04] #136 closed

[2020-12-28 14:03] usamamashkoor commented on #136
Thanks @Tintef I have found a solution sorry for the late reply I forgot to change the query in the snippet.

[2021-01-17 16:01] nicopoore opened #137 "Isn't it a security breach to make API calls with an exposed key from the client side as this component does?"
From what I understand (correct me if I'm wrong), this component would be making API calls with your Google Places API key from the client side, which are visible both from the code (if the API key is passed from a next.config.js file) and from the browser Network tab (regardless of where the API key comes from) to the client, leaving it vulnerable.

Am I missing something on the usage of this com

[2021-01-17 16:51] Tintef commented on #137
@nicopoore Veo que sos de Bs. As., así que lo explico en español así se me hace más fácil 😅

Lo que decís es correcto, la API key queda expuesta, pero esto es inevitable (a no ser que quieras delegar esto a un backend -- lo cual implicaría dos API calls, una a tu backend y tu backend a la API de Google --).

Por suerte, se pueden configurar los dominios que pueden utilizar una API key -- algo así

[2021-01-17 17:21] nicopoore commented on #137
Claro, me pareció raro porque siempre lo ví delegado al back-end para APIs con rate limits o pagas. Entonces lo que harías es restringir por HTTP y sólo permitir que se hagan calls desde esa misma página web? O por IP, o de otra forma?

[2021-01-17 18:14] Tintef commented on #137
@nicopoore Sí, tenes que ir a la consola de google y agregar tu sitio entre los permitidos para utilizar tu API key.

[2021-01-17 18:14] #137 closed

[2021-01-20 17:52] Agspro12 opened #138 "how to get lant lang values by useing place_id or else directly how we get lant lang values"

[2021-01-21 11:57] Tintef commented on #138
Use one of the utility fuctions. To fetch by place_id, use [this](https://tintef.github.io/react-google-places-autocomplete/docs/geocode-by-place-id)

[2021-01-21 11:57] #138 closed

[2021-01-21 14:25] Gopisuresh-Akula commented on #138
can you please show an example of how to use in component

[2021-01-21 14:29] Gopisuresh-Akula commented on #138
moreover, I need   lant lang values of the select place where I'm getting only  place id and reference id

[2021-01-21 23:48] Tintef commented on #138
@Gopisuresh-Akula What have you tried?
Step 1. Get the place ID using the autocomplete component.
Step 2. Use the `getLatLng` utility function to get the desired lat/long

[2021-01-22 21:35] Edsonzhu opened #139 "Update peer dep"
Hi, is it possible to update the peer dep of this project to react 17?

```npm ERR! peer dep missing: react@^16.8.0, required by react-google-places-autocomplete@3.0.0```

[2021-01-24 01:11] Tintef commented on #139
@Edsonzhu I tried installing the library on a brand new react project (using 17.0.1) and I was able to install the library (I did get a warning though).

Updating the peer dependency to react 17 is doable (actually supporting 16.8.0 and 17), but it will need some manual testing so I won't be able to create that update until next week probably.

Given this, I would like to help you install the libr

[2021-01-25 16:09] Edsonzhu commented on #139
Hey @Tintef, I think my question was missing information. I could successfully installed and am using it in my project. What I was asking was just to update the peer dependency to remove the warning on the project.

I appreciate your help.

[2021-01-30 07:23] aditbharadwaj opened #140 "is it possible to do reverse geocoding using this package ?"
i was wondering if its possible to find address using lat and lng using this package ?

[2021-02-01 03:18] Tintef commented on #140
@aditbharadwaj It's not currently supported, but it looks like it's doable using [google maps geocoder](https://developers.google.com/maps/documentation/javascript/geocoding#ReverseGeocoding).

I think it would be a great addition, a PR is welcome!

[2021-02-01 21:59] #139 closed

[2021-02-01 22:00] Tintef commented on #140
Closed on by #143. Feature added on 3.1.0

[2021-02-01 22:02] #140 closed

[2021-02-01 22:08] Tintef commented on #139
@Edsonzhu Published in 3.1.0 :)

[2021-02-08 18:30] binary64 opened #145 "How to unit test"
Hi, what is a good way to test a component that uses react-google-places-autocomplete? Right now I get the error:

[code]

my test is:

[code]

[2021-02-10 12:11] Tintef commented on #145
@binary64 You are gonna need to mock google maps or the component depending on what you want to test.

IMO you should mock the component as you shouldn't test third-party libraries, but that's up to you

[2021-02-15 10:43] bogdanbalc opened #146 "Allow setting the language for the google places api"

[2021-02-15 16:06] Tintef commented on #146
@bogdanbalc This is kinda doable right now. If you don't rely on using the `apiKey` prop and inject the script yourself you can configure it however you want.

Nevertheless, this could be a nice (and simple) addition

[2021-02-15 16:26] bogdanbalc commented on #146
You have a point. I could just inject the script myself. In this scenario where you can customize the script however you want ... I believe it could be a nice api to give users the ability to inject the script they constructed with a utility method like we have for getting coordinates for example.
What do you think?

[2021-02-15 16:33] Tintef commented on #146
Yeah, I was thinking of a new prop, lets say `apiOptions` and the library uses that prop to build the appropiate script tag.

Example:
[code]

Would inject:
[code]

[2021-02-16 22:09] nyousefzai opened #147 "how to do powered by google?"
How we can activate powered by google, is this option been build yet?
It required by google to have this option.
`https://developers.google.com/places/web-service/policies#powered`

[2021-02-17 02:24] Tintef commented on #147
@nyousefzai No, it's not possible right now, but they provide you with the image, so you can add it yourself in the meantime.

A PR adding this feature is welcomed.

[2021-02-17 11:50] bogdanbalc commented on #146
@Tintef sounds great. Can you find the time to implement something like that? If not I can try to create a PR for this...

[2021-02-17 12:46] Tintef commented on #146
Probably not in the short term -- next two or so weeks --

I would love to review a PR :)

[2021-02-17 16:51] KBeDevel commented on #70
I'm seeing this warning and I'm using react-google-places-autocomplete@3.1.1 :/

[2021-02-17 16:58] bogdanbalc commented on #146
Here it is: [PR](https://github.com/Tintef/react-google-places-autocomplete/pull/148)

[2021-02-17 17:45] nyousefzai commented on #147
sure as soon as I get a chance, at the main time here is little work around might be useful for someone else.
    `import { components } from "react-select";`

 `const Menu = (props: any) => {
  return (
    <>
      <div>Custom Menu with options</div>
      <components.Menu {...props}>
        {props.children}
        <div>img tag</div>
      </components.Menu>
    </>
  );
};
`

 `<GooglePlacesA

[2021-02-21 00:51] #145 closed

[2021-02-21 01:00] Tintef commented on #146
[PR](https://github.com/Tintef/react-google-places-autocomplete/pull/148) merged and feature release on v3.2.0

[2021-02-21 01:00] #146 closed

[2021-02-21 02:57] #123 closed

[2021-02-21 21:05] Tintef commented on #70
@KBeDevel Can you provide a minimal reproducible repo? I'm not getting this since 3.0.0 was release

[2021-02-24 17:42] Gopisuresh-Akula opened #153 "how to find out postal code by using "react-google-places-autocomplete": "1.6.2"
Hi Tintef

Here using  "react-google-places-autocomplete": "1.6.2",
sometimes I'm facing issue called infinite script loading may l know reasons for that and one more thing can please brief the how to get postal code in  "react-google-places-autocomplete": "1.6.2",
please  find below attachments for

![infinte loop]
(https://user-images.githubusercontent.com/42737147/109041780-6811e380-76f5-11eb-9

[2021-02-24 21:11] KBeDevel commented on #70
Well, after some checks, I figured out that I'm not getting **EXACTLY** the same error.

I just created an instance of `GooglePlacesAutocomplete` component inside a `Form` (react-bootstrap) component:

[code]

When I render the page (with Firefox, Chromium and Brave), I'm getting this warning:

[code]

And when I click on the control (without any additional event) I'm getting these two:

- Warning

[2021-02-25 12:51] Tintef commented on #153
@Gopisuresh-Akula I highly recommend upgrading to 3.x

Not an infinite loop, the library cannot find the google places script. Verify you have it on your document.

For the other one, please send a code snippet or a repo to reproduce.

[2021-02-25 17:30] Gopisuresh-Akula commented on #153
"react-google-places-autocomplete": "1.6.2", fit for my requirement I can easily  customize it that's  why I choose  "1.6.2"
second thing can you share code snippet for postal code in "react-google-places-autocomplete": "1.6.2",

[2021-02-25 17:57] Tintef commented on #153
The 3.x version are easily customizable using react-select. And no, I won't share how to do it, you should try doing it yourself and share what you come up with and then I can help you fix it if there's something wrong.

[2021-02-25 21:19] golf-n-code opened #154 "ApiNotActivatedMapError on simple component"
I am using the basic example with **** replaced with my current API Key that is verified as enabled for Javascript Map API. For some reason I am still getting rejected? Am I using the component incorreclty?

![image](https://user-images.githubusercontent.com/68881829/109218968-15800800-7785-11eb-9a17-410c3148b09e.png)

Code:
[code]

Referenced Here:
[code]

[2021-02-25 21:51] Tintef commented on #154
@golf-n-code Does your key work for the places API?

[2021-02-25 22:42] golf-n-code commented on #154
This was the solution - I thought I only needed JS Maps API. Added Places API and it works. Thank you!

[2021-02-26 12:12] #154 closed

[2021-02-26 20:22] Tintef commented on #70
@KBeDevel Can you provide a repository where this can be reproduced?

If so I can take a look :)

[2021-02-27 07:39] Gopisuresh-Akula commented on #153
yeah @Tintef  i upgrade version but customizable using react-select. we can do  using inline style only  if possible can you share classnames to override styles

[2021-02-27 19:21] Tintef commented on #153
Check [react-select](https://react-select.com/styles) docs.

[2021-02-27 19:21] #153 closed

[2021-02-28 04:36] Gopisuresh-Akula commented on #72
Hey @cbaron3 i tired based on your example for me not working could please figure out(react-google-places-autocomplete": "^3.2.1)

<GooglePlacesAutocomplete

    suggestionsClassNames={{ container: 'custom-suggestions', suggestion: "custom-suggestions-classname--active" ,suggestionActive: "custom-suggestions-classname--active" }}
           selectProps={{
            value: location,
            p

[2021-03-01 04:55] Gopisuresh-Akula commented on #153
Hey @Tintef  i did this please check  moreover in react-select docs I didn't get how to override classnames if possible   can share code snippet for that

const customStyles = {
  // option: (provided, state) => ({
  //   ...provided,
  //   borderBottom: '1px dotted pink',
  //   color: state.isSelected ? 'red' : 'blue',
  //   padding: 20,
  // }),
  // control: () => ({
  //   // none of react-

[2021-03-02 21:02] miko1991 opened #157 "process not defined"
Hello,
I am using both Mac and Windows - for dev, and Linux - to deploy, and everything works on Mac and Linux, but on Windows I'm getting error - process not defined. I'm using Webpack and Babel

[2021-03-03 11:44] Tintef commented on #157
@miko1991 Please share both the log you're getting and a repository to reproduce your issue.

[2021-03-04 00:16] jeremylynch commented on #157
I am experiencing the same but on Mac with gatsby
<img width="988" alt="screen" src="https://user-images.githubusercontent.com/3665457/109890224-a483a780-7cd2-11eb-92c1-d91def938dc8.png">

[2021-03-04 09:42] miko1991 commented on #157
I solved it by installing "process" and adding it to plugins like so:

edit webpack.config.js

[code]

[2021-03-04 12:21] Gopisuresh-Akula opened #158 "react-select customization in react-google-places-autocomplete"

[2021-03-04 12:22] Gopisuresh-Akula commented on #158
Hey @Tintef i did this please check moreover in react-select docs I didn't get how to override classnames if possible can share code snippet for that

const customStyles = {
// option: (provided, state) => ({
// ...provided,
// borderBottom: '1px dotted pink',
// color: state.isSelected ? 'red' : 'blue',
// padding: 20,
// }),
// control: () => ({
// // none of react-select's styles are passed to

[2021-03-04 14:53] Tintef commented on #158
You can't override classnames, you need to provide an object as react select docs says.

There's an example on [this library documentation](https://tintef.github.io/react-google-places-autocomplete/docs/examples#customization).

[2021-03-04 14:53] #158 closed

[2021-03-05 21:31] Tintef commented on #157
@miko1991 @jeremylynch I was able to reproduce this and it's fixed (as far as I was able to test) on version 3.2.2

[2021-03-05 21:31] #157 closed

[2021-03-08 12:39] KBeDevel commented on #70
Sorry for the late response. These warnings are not longer appearing in the 3.2.2 version.

PD: Nice work with this project!

[2021-03-09 20:42] toptalentdev81 opened #159 "Not working with react-google-map component"
I'm using this component with react-google-map component in one page.
And this component is not working.
the reason is importing google map scripts from two components.

Below are console error.
"You have included the Google Maps JavaScript API multiple times on this page. This may cause unexpected errors."

Is there any way to fix this?

[2021-03-09 20:54] Tintef commented on #159
Please show the code of your component so I can give you an accurate answer.

But if that's the case, you should only load the script once, so either load the script using this component or react-google-map.

[2021-03-09 21:05] Tintef commented on #159
You should, but I just notice that it got removed from react-google-places-autocomplete@3.2.2 by an accident.

Just uploaded react-google-places-autocomplete@3.2.3, please use that version :)

[2021-03-09 21:05] #159 closed

[2021-03-09 21:45] toptalentdev81 commented on #159
Thanks for your kind and fast reply.

Yeah, without `apiKey` props, this component doesn't load script.
but instead inserting script manually doesn't work.
I added below in the <head> like your document.

[code]

but your components didn't work.
I found that you embedded callback function name when using `apiKey` props.
so I also copied that in above script. but it still didn't work.
can you pleas

[2021-03-10 00:51] Tintef commented on #159
@toptalentdev81 Without seeing any code is hard to help, but if the map works just fine my guess is that your key is not enabled for the places API. Start by verifying that on google's console.

If that's not your issue, please share some code.

[2021-03-10 05:46] horler234 opened #161 "How to add custom placeholder"
I am having an issue adding a custom placeholder to the autocomplete input. The documentation refers to react select for styling the component but I cannot find a way to add placeholder.

[2021-03-10 13:53] Tintef commented on #161
You need to use the `placeholder` prop of [react select.](https://react-select.com/props)

[2021-03-10 13:53] #161 closed

[2021-03-11 12:58] negati-ve opened #162 "Component does not query/load any suggestions"
Node version: 15.11.0
tested on Mac OS 11.1 and Alpine 3.10
no errors in console

suggestions  don't load after user inputs text in field. (no network requests are  fired)
![image](https://user-images.githubusercontent.com/13253073/110790389-fd38de80-8296-11eb-9e1b-bc990fc35959.png)

Current solution:
Downgrading react-google-places-autocomplete to v3.1.1 fixes the issue

will report more on the i

[2021-03-11 16:12] Tintef commented on #162
@negati-ve Can you share some of your code?

[2021-03-11 20:02] natearn opened #163 "Please expose session tokens"
I'm finding that I cannot complete the [session token flow](https://developers.google.com/maps/documentation/javascript/places-autocomplete#session_tokens) with this component as it is now. Specifically, I'm unable to find the session token used in the Places Autocomplete requests without inspecting the network request directly. The same session token needs to be used in a Places Details request,

[2021-03-12 05:21] negati-ve commented on #162
sure
[code]

Working smooth on v3.1.1
upgrading to v3.2.3 breaks the suggestion box

[2021-03-12 12:57] Tintef commented on #163
@natearn The `sessionToken` is only set when `initializeService` gets called and that only happens when the [component gets mounted](https://github.com/Tintef/react-google-places-autocomplete/blob/master/src/GooglePlacesAutocomplete.tsx#L52).

What I could do is expose a function like `getSessionToken` and you could call it by using a ref to the component 🤔

[2021-03-12 23:31] DorskFR commented on #162
same issue here, I noticed the dropdown had a seamingly low zIndex because it becomes hidden behind other components making the selection of items difficult.

I saw the update and upgraded just in case it would fix that but I get the same as above, no suggestions anymore.

[2021-03-13 00:49] Tintef commented on #162
@negati-ve @DorskFR This is working for me on both a codesanbox and a fresh next project.

Can both of you verify that if the script is being included or not in the `head` of your document?

[2021-03-13 12:24] negati-ve commented on #162
script is being loaded 100%

included the script manually and tried as well (which showed a console warning that "Google Maps already loaded outside @googlemaps/js-api-loader.This may result in undesirable behavior as options and script parameters may not match.".. indicating js api loader was infact registered)

[2021-03-13 12:34] DorskFR commented on #162
The script is loaded.
When typing in the field, it does display "loading..." for a split second then No options.

Works with 3.2.2 breaks with 3.2.3 for me.

I am using it like this

[code]

[2021-03-13 14:23] Tintef commented on #162
For @DorskFR I think the issue is that the `apiKey` prop is not being used and that makes the service not be initialized. This is a bug and I'll fix it asap.

For @negati-ve I'm still not sure what's happening, as I was able to make it working using next. Is your `apiKey` for the `places` API?

[2021-03-13 14:29] Tintef commented on #162
@DorskFR Please verify that your issue gets fixed with v3.2.4

Leaving the issue open until we find out what's happening to @negati-ve

[2021-03-13 14:35] Tintef commented on #130
Closing this, if someone found a way to consistently reproduce I'll open it again.

[2021-03-13 14:35] #130 closed

[2021-03-13 14:35] Tintef commented on #116
Closing due to inactivity.

[2021-03-13 14:35] #116 closed

[2021-03-14 07:10] negati-ve commented on #162
v3.2.4 fixes the issue 🎉🥳

[2021-03-14 14:13] Tintef commented on #162
Awesome! I'll close the issue then 🤗

[2021-03-14 14:13] #162 closed

[2021-03-14 23:39] #163 closed

[2021-03-15 02:00] Fox4148 opened #166 "Feature request onSelect"
onSelect hook, returns the places api json data.

[2021-03-15 02:08] #166 closed

[2021-03-16 05:29] Fox4148 opened #167 "selectProps name underlying input onChange feature request+...."
The underlying input value is wrong when the onChange event is triggered.

when using
[code]

Wouldn't the component be simpler if a name would be added directly on the input we type in? I could dispatch the field value with redux.

[sandbox](https://codesandbox.io/s/react-google-places-autocomplete-selectprops-input-bug-veeh2?file=/src/App.js)

[2021-03-16 14:21] Tintef commented on #167
@Fox4148 All the select props are passed down to an `AsyncSelect` from [react-select](https://react-select.com/).

I see that they support a `name` there, not sure if that fits your use case. But if it doesn't, you can always override their components.

[2021-03-16 14:21] #167 closed

[2021-03-17 12:49] stylesuxx opened #168 "Edit address"
I am wondering if it is possible to edit an already entered address - for example to add a street number.

Once autocompleted, I have to re-enter the whole address if I want to change something. Surely I must be missing something, or is this intended behavior?

[2021-03-17 13:51] stylesuxx commented on #168
Never mind, that needs to be handled via react-select. For anyone else - this should get you going:

[code]

[2021-03-17 13:51] #168 closed

[2021-03-22 20:44] e-hop commented on #129
Not working for me using
[code]

[2021-03-23 17:44] Tintef commented on #129
@e-hop Can you please provide a codesandbox/repo where I can reproduce this?

[2021-03-23 20:49] Fox4148 commented on #167
I managed to fix by wrapping this component and adding a hidden react-redux Field with the value updated when onChange is triggered.

[2021-03-25 02:36] SuryaWebfox opened #169 "Is there a way to tell the api to always include postcode and state?"
I've been looking at the documentation but I can't find a way to tell the API to always include the postcode and state in the results. Am I missing something?

[2021-03-25 13:34] golf-n-code opened #170 "Set Focus on component creation"
Is is possible to set focus on the component upon render?

[2021-03-25 19:59] SuryaWebfox commented on #170
Good point. I tried adding the `autoFocus` but it doesn't seem to work.

[2021-03-25 23:53] Tintef commented on #170
@golf-n-code @SuryaWebfox This is technically doable by using the underlying react-select, but I think you should have a ref to it **but** the component is not exposing this ref.

I think the way to go is to add a new `selectRef` prop. PRs are welcomed!

[2021-03-27 00:44] Tintef commented on #169
@SuryaWebfox You would have one of the geocode utility functions -- [`geocode-by-place-id`](https://tintef.github.io/react-google-places-autocomplete/docs/geocode-by-place-id) for example --.

If the given place has a postal code/state, that information will be on the geocoder response :)

Example:
[code]

[2021-03-27 00:44] #169 closed

[2021-03-28 15:59] webberwang commented on #161
Doesn't seem to work

[2021-03-28 23:28] SuryaWebfox commented on #169
That works. It's a bit annoying that I first have to do a regular autocomplete, get the location ID and then perform a second call, but I understand that is a limitation of the Google API. Thanks.

[2021-03-29 11:50] Tintef commented on #161
@webberwang Please send whatever you are trying and/or a repo/codesandbox to reproduce.

[2021-03-29 17:31] golf-n-code commented on #170
@Tintef I attempted to add this to the solution. Not sure if this contradicts what is happening with the forwardRef on export.

[2021-03-29 18:17] mattrace commented on #161
I'm having the same issue with the placeholder prop not working

[2021-03-29 19:14] Tintef commented on #161
@mattrace  Please send whatever you are trying and/or a repo/codesandbox to reproduce.

[2021-04-01 21:35] binajmen opened #174 "How to specify which data fields to retrieve ?"
Hi,

Is there a way to specify which data fields to retrieve ?
https://developers.google.com/maps/documentation/places/web-service/place-data-fields

[2021-04-02 01:46] Tintef commented on #174
@binajmen It's not currently possible, as for that you need to get the `details`.

If you use one of the provided geocode functions (see #169) you can get some fields, but not all of those.

A PR adding that is welcomed, but I'm not going to add that feature myself. I'll close the issue for now but you (or someone else) let me know if willing to implement that feature and we can reopen this issue

[2021-04-02 01:46] #174 closed

[2021-04-06 23:52] Tintef opened #175 "Fix travis or migrate to github actions to build and deploy the docs"

[2021-04-07 00:07] Tintef commented on #170
@golf-n-code Actually, after thinking about it, that's doable as of now:

[code]

cc: @SuryaWebfox

[2021-04-07 00:07] #170 closed

[2021-04-10 20:11] binajmen opened #176 "Warning: You are loading @emotion/react when it is already loaded. Running multiple instances may cause problems"
Hi,

I'm having this warning when using RGPA in a NextJS project using Chakra (based on `emotion` as well).

`You are loading @emotion/react when it is already loaded. Running multiple instances may cause problems. This can happen if multiple versions are used, or if multiple builds of the same version are used.`

![Screenshot 2021-04-10 at 22 06 04](https://user-images.githubusercontent.com/15611

[2021-04-11 07:34] binajmen commented on #176
So it turns out it is due to `react-select` which is used behind the scene (https://github.com/emotion-js/emotion/issues/2343).

I still need to figure out where a fix should happen (I believe this should be fixed in some way as it could (or it already) impact others).

[2021-04-11 19:00] Tintef commented on #176
@binajmen Can you please provide a repository to reproduce this?

[2021-04-11 19:29] binajmen commented on #176
Hi @Tintef,

I cannot share the repo I'm working on, but I'll see if I can find some time to create a sandbox repo to reproduce this. However, your module doesn't seem to be the root cause.

The issue is probably due to how `react-select` has been designed: this is what the maintainer of emotion @Andarist mentioned on https://github.com/emotion-js/emotion/issues/2343:

As a workaround, I've replac

[2021-04-13 09:43] akosijiji opened #177 "onChange is not working in selectProps and initial value not displaying"
Hi there. This is my first time to use this library. I would like to get selected value from the autocomplete. This is the error message:

`Type 'Dispatch<SetStateAction<string>>' is not assignable to type '(value: OptionTypeBase | null, action: ActionMeta<OptionTypeBase>) => void'.
  Types of parameters 'value' and 'value' are incompatible.
    Type 'OptionTypeBase | null' is not assignable to ty

[2021-04-13 13:26] Tintef commented on #177
@akosijiji Please read the docs on how to use the component, `inputAddress` and `address` are not props that can be passed down to [react-select](https://react-select.com/props).

[Here are the docs on how to save the selected result](https://tintef.github.io/react-google-places-autocomplete/docs/#save-the-selected-result).

[2021-04-13 13:26] #177 closed

[2021-04-15 04:37] guojuan999 opened #178 "componentRestrictions for country"
I found if I have more than five countries like below then I can't get any autocompleted address from the sixth or the seventh country "NZ" or "ZA". Just wondering if there are other settings for it? Thanks in advance.
`autocompletionRequest={{
      componentRestrictions: {
          country:["US", "CA", "AU", "FR", "DE", "NZ", "ZA"],
       },
       types: ['geocode'],
   }}`

[2021-04-15 17:17] Tintef commented on #178
@guojuan999 Yeah, that's a [restriction from google places library](https://developers.google.com/maps/documentation/javascript/reference/places-autocomplete-service#ComponentRestrictions)

[2021-04-15 17:17] #178 closed

[2021-04-16 00:55] montagecrew commented on #177
I am also running into this error by simply doing this:
[code]

Error:
![image](https://user-images.githubusercontent.com/76890735/114956446-bbf69a00-9e13-11eb-8eb0-18b01ed462c2.png)

[2021-04-16 17:52] Tintef commented on #177
@montagecrew You can't use the setter _as-is_ while working on TS. You need to adapt set your setter function as needed or create an auxiliary function to grab what you need from react select.

[2021-04-19 15:57] leevubo opened #179 "How can I clear the search when I click the input field?"
Hi, guys.

I've used this auto complete package in my google map in gatsby project and it works fine.
Now, I wanna clear the previous search string when I click the input field to enter the another location.
But its value still displays inside the text field until I enter the string.
Who knows this solution for me?
Thanks for your attention and looking forward to your reply.

https://prnt.sc/11phh

[2021-04-19 17:24] Tintef commented on #179
@leevubo use a controller input and set the value to null.

[code]

[2021-04-19 17:24] #179 closed

[2021-04-19 17:44] leevubo commented on #179
Hey, Tintef.
I've already used this code, but it didn't work onClick event.

[2021-04-19 20:10] Tintef commented on #179
@leevubo Please share your code and/or repo/codesandbox to reproduce your error

[2021-04-20 15:34] leevubo commented on #179
@Tintef
Can you check this ?
https://codesandbox.io/s/sleepy-cdn-4v4gb?file=/src/pages/index.js

Sorry but replace your google key with yours.
Thanks

[2021-04-20 19:31] Tintef commented on #179
@leevubo I wasn't able to test it yet, but from your code:
[code]

[2021-04-30 18:35] jaequery opened #182 "disable browser autocomplete popup"
Hi, on Chrome I am getting the browser's autocomplete suggestion popup as i type. Is there anyway to prevent this?

[2021-05-01 23:45] Tintef commented on #182
@jaequery That would be a prop for the underlying react-select component -- I don't remember if there's a specific prop this tho --. If that doesn't exists, you can always [replace the input component](https://react-select.com/props#replacing-components)!

[2021-05-01 23:46] #182 closed

[2021-05-03 09:47] reactching opened #183 "Restrict the return result in building level"
Hello all,

Is current version available to only return building instead of street? It is because I want to get the lat/lng of full address from user instead of region/district.

I checked that it can only set types: "address" and it can return street. can current version support it? Or do it have any workaround?

Thanks all. I have already tried for whole day.

[2021-05-03 22:47] jorgerubik opened #184 "How to get the Place ID from the GooglePlacesAutocomplete component"
Hello, I am using the Google Places Autocomplete component, I see that the value is saved as an object, but I cannot reach the place ID and then occupy your function that you send that edata and it returns the coordinates

[2021-05-05 11:44] davidbarman opened #186 "No Options"
After including in my project, I am just getting a dropdown selector that says No Options.  There doesn't appear to be a way to search, etc.  I've tried getting basic as:

`<GooglePlacesAutocomplete
      apiKey="****"
    />`

I assume I must be doing something wrong?   Any suggestions?

[2021-05-05 12:58] Calfredop opened #187 "Access list of results/Select first result suggestion on Enter"
Hello,
First of all thanks for this amazing component. I would like to simplify the address entry process, by letting the user to pick the first suggestion on Enter press. I've seen other resolved issues with onKeyDown ovveride of input, but none of them reffered to a way to access the results/suggestions list. In other words, how can I call onSelect with a specific picked suggestion (in this case

[2021-05-05 13:06] Tintef commented on #186
@davidbarman Is your `apiKey` enbaled for the places API? What about the allowed domains to use the key?

[2021-05-05 13:08] Tintef commented on #184
@jorgerubik I'm not sure I'm understanding your question, the key for the place ID is `place_id` (yes, in snakecase).

fyi: I see you speak Spanish, feel free to ask in Spanish if you prefer.

[2021-05-05 13:51] Tintef commented on #183
@reactching Yeah, the only available options are the ones [that google provide](https://developers.google.com/maps/documentation/javascript/reference/places-autocomplete-service#AutocompletionRequest) and I don't seem to see the option you want.

[2021-05-05 13:51] #183 closed

[2021-05-05 13:51] davidbarman commented on #186
The apiKey is enabled in the Google account.  I checked the API setting and Application Restrictions are set to none.  Don't see anywhere else about adding allowed domains.

[2021-05-05 13:56] Tintef commented on #187
@Calfredop React-select handles this by default (selecting the first option on Enter press). If you want to get the selected suggestion, you should use it as [controlled input](https://tintef.github.io/react-google-places-autocomplete/docs/#save-the-selected-result).

If this doesn't work for you, please share your code and/or a sandbox/repo to reproduce and I can take a closer look.

[2021-05-05 13:56] #187 closed

[2021-05-05 13:59] Tintef commented on #186
@davidbarman Is the places API listed in the API Restrictions?

<img width="807" alt="Screen Shot 2021-05-05 at 10 59 12" src="https://user-images.githubusercontent.com/17990217/117152997-ee4f4380-ad90-11eb-9ca0-210c6c582f3a.png">

[2021-05-05 14:11] davidbarman commented on #186
Under API restrictions, it is set to don't restrict key.  After selecting the restrict option and checking the Places API, still not change in the React application.

[2021-05-05 14:41] Tintef commented on #187
@Calfredop What's preventing you from migrating to 3.x?

I don't remember how 2.x worked to be honest, but as you are using a custom input shouldn't you handle the `onPressDown` there?

[2021-05-05 14:43] Calfredop commented on #187
I could handle onKeyDown but it seems there are no way to reacht suggestion list from there. I'll migrate to v3 if there are no other options 🤷
Thank you very much for your response

[2021-05-05 14:44] Tintef commented on #186
@davidbarman Do you have `window.google.maps` available on your browser console?

[2021-05-05 15:00] Tintef commented on #187
@Calfredop Yeah, I was taking a look at the code from 2.3.2 and it doesn't seem to be a way of doing it. It's simple enough to change the code to support it you want to -- maybe you can work on your own fork from 2.3.2 and build from there --.

I would recommend you to migrate to 3.x tho, [here is the migration guide](https://tintef.github.io/react-google-places-autocomplete/docs/v2-to-v3/)

[2021-05-05 15:24] davidbarman commented on #186
Yes, it exists.

[2021-05-05 15:58] Tintef commented on #186
🤔 that's weird. Can you share your code?

[2021-05-05 16:28] davidbarman commented on #186
`import GooglePlacesAutocomplete from "react-google-places-autocomplete";

<GooglePlacesAutocomplete
                  apiKey="****"
                  placeholder="Type in an address"
                  inputStyle={{
                    height: 40,
                    fontSize: 28,
                  }}
                  suggestionsStyles={{
                    container: {
                      pad

[2021-05-05 16:30] Tintef commented on #186
@davidbarman You're using 2.x?

[2021-05-05 21:02] davidbarman commented on #186
v3.3.0

[2021-05-05 21:06] davidbarman commented on #186
If I try:
`<GooglePlacesAutocomplete
apiKey="****" />
`

It does the same thing.

[2021-05-05 23:13] Tintef commented on #186
@davidbarman You're missing something on the api key configuration, but I'm not sure what. Please review google docs on how to set it up. This code works well for me with a valid api key:

[code]

[2021-05-05 23:13] #186 closed

[2021-05-06 04:16] jiMuBao opened #188 "Is there a way to make this working with materia-ui"
Hi I'm currently using this module for one of the projects, just wondering is there a way to make this work with material UI ? using autocomplete component? https://material-ui.com/components/autocomplete/

[2021-05-06 19:50] Tintef commented on #188
@jiMuBao There might we a way to use a material UI component with react-select. You should try searching that.

[2021-05-06 19:50] #188 closed

[2021-05-06 21:56] jorgerubik commented on #184
Hola, ok, espero poderme dar a entender mejor en español.

Lo que intento hacer es primero colocar el buscador que tienes de direcciones, el cual ya me funciona.
De ahí lo que busco es con la dirección seleccionada obtener el place ID del objeto y ese mandarlo a tu método que regresa las coordenadas por medio de place ID.

Saludos!

[2021-05-06 23:34] Tintef commented on #184
@jorgerubik Lo que quieres es usar la componente [de este forma](https://tintef.github.io/react-google-places-autocomplete/docs/examples#controlled-input). Luego, puedes usar un `useEffect` para obtener el `place_id` y llamar a la función [geocodeByPlaceId](https://tintef.github.io/react-google-places-autocomplete/docs/geocode-by-place-id/)

[2021-05-06 23:34] #184 closed

[2021-05-10 06:57] Garudkar-Dnyaneshwar opened #190 "Get lat,lang and pincode"
How to get latitude  and longitude of selected place from autocomplete inside selectProps result?
(I don’t want to use getLatLng method.) How can i get address_components from google places api result?

[2021-05-10 18:11] Tintef commented on #190
As far as I know you can't.

[2021-05-10 18:11] #190 closed

[2021-05-10 18:25] jorgerubik commented on #184
Si, justo eso es lo que estoy intentando hacer, pero en el useEffect no me permite obtener el placeId, siempre me dice que value puede venir null y me da error

[2021-05-14 10:55] geekdiv commented on #179
alternative solution is you can text inside gray while menu is open which makes it look a lot better

![1](https://user-images.githubusercontent.com/12626079/118260997-9f13bc00-b4d0-11eb-8a18-3795a6e1ce4e.png)

`  <GooglePlacesAutocomplete
                    apiKey={CommonUtil.getEnv("REACT_APP_MAP_KEY")}
                    selectProps={{
                      styles: {
                        s

[2021-05-20 06:36] fkgfahad opened #193 "There's no prop for the className or style"

[2021-05-20 12:22] Tratt0re commented on #193
Hi, you can do that by passing the "selectProps".
This library uses as main component the "asyns selector" of react-select so if you need to change or pass any value you can do it by passing props to selectProps.

[code]

[2021-05-20 12:57] Tintef commented on #193
Thanks @Tratt0re

[2021-05-20 12:57] #193 closed

[2021-05-20 13:15] fkgfahad commented on #193
Thanks, @Tratt0re. Although at least a dedicated style prop and a className prop are very useful.
I think it is not a good practice at all.

[2021-05-20 13:25] Tintef commented on #193
@fkgfahad I strongly disagree.

Why should the library re-implement what the underlying `react-select` already provides?
Why do you think it's not a good practice?

[2021-05-21 20:08] escobar5 opened #194 "Error while customizing selectProps"
When I add `loadingMessage` or `noOptionsMessage` to the `selectProps` prop, I get an error:

This is my code:

[code]

[2021-05-21 20:21] escobar5 commented on #194
My bad, I haven't used react-select and didn't know that those props were functions

[2021-05-21 20:21] #194 closed

[2021-06-01 01:04] Anthonyamcm opened #196 "[Question] Can you get the returned addresses to included business ?"
Just wondering if you can get the return business as well as normal addresses

[2021-06-01 12:09] Anthonyamcm commented on #196
Founf how to do it you just have to remove types from autocompleterequest

[2021-06-01 12:09] #196 closed

[2021-06-11 18:57] ataravati opened #201 "Random typescript error when trying to get lat lng from zip code"
I've written a function like below to get LatLng from Zip Code. It works once in a while, but then suddently it gives me the following error. When I start getting the error, it will never go away, until I make a change (and I don't know what) and it starts working again.

[code]

[2021-06-12 00:27] ataravati commented on #201
Sorry! My bad; I didn't have the google places api on the page.

[2021-06-12 00:27] #201 closed

[2021-06-29 08:33] rahulrai123 commented on #161
Add placeholder inside selectProps.

`<GooglePlacesAutocomplete
              apiKey="key"
              selectProps={{
                location,
                onChange: setLocation,
                placeholder: "City, State, Country",
              }}
            />`

[2021-06-29 17:21] nmsdvid opened #204 "Geocode by Address TypeError"
Hello I would like to use the geocodeByAddress api but it returns the following error:
`Uncaught (in promise) TypeError: Cannot read property 'maps' of undefined`

Example of usage:
[code]
Version: 3.3.1

Any ideas?

[2021-06-30 13:52] Tintef commented on #204
@nmsdvid Looks like the google places API is not loaded.

If you only want to use the util function (without using the component) you still need to include the google places api

[2021-06-30 13:52] #204 closed

[2021-07-02 21:48] jmaslin opened #206 "Bump `react-select` version up to fix emotion/cache import error"
There is an issue with this version of `react-select` that breaks when used with Chakra UI. It seems to be fixed in `v4.3.1` according to https://github.com/JedWatson/react-select/issues/4541

Additional context:
https://github.com/emotion-js/emotion/issues/2343

Can we bump the version up to fix this? Thank you!

[2021-07-02 22:01] jmaslin commented on #206
Actually looks like `4.3.1` is being included in my `yarn.lock` file so don't think that will fix it. Anyone run into this?

[2021-07-13 18:44] alextaymx opened #207 "How to copy paste address using mouse?"
It seems like the component is using react-select, when i right click using mouse or long press in mobile view, i can't paste an address directly into the input field when there is nothing inside, can anyone help me on this?
Thanks in advance

[2021-07-14 01:21] Tintef commented on #207
@alextaymx As you mentioned, that's something on react-select side, so you should go seek help on their repo :)

My guess is that you need to override their components in order to get what you want!

I'm going to close this one out as it's not related to this library, but I hope someone finds this here and helps you out!

[2021-07-14 01:21] #207 closed

[2021-07-14 01:22] Tintef commented on #206
@jmaslin This could actually be on this repo as react-select is a dependency on the repo (not a peer dep).

I can release an updated version as an alpha version and you can verify it works as expected using it?

[2021-07-18 14:37] jmaslin commented on #206
@Tintef that would be great, thank you! I am using `react-select` in other parts of the app and it works as expected

[2021-07-18 17:28] Tintef commented on #206
@jmaslin You should be able to install the new version (`npm i react-google-places-autocomplete@3.3.2-alpha.0`).

Let me know how it goes!

[2021-07-28 15:02] gperez-10pines opened #208 "Missing name prop"
I'm curious why the `name` prop is not available. As a form field, I think it should be part of `GooglePlacesAutocompleteProps`.

I'm getting a typescript warning because it's not:

[2021-07-28 16:32] Tintef commented on #208
@gperez-10pines This library relies on [react-select](https://react-select.com/props), you should pass props to it.

You can check how [here](https://tintef.github.io/react-google-places-autocomplete/docs/props).

[2021-07-28 16:32] #208 closed

[2021-07-29 17:53] jmaslin commented on #206
@Tintef It seems to be working on dev and build versions, thank you! I will let you know if I encounter any other issues.

[2021-08-03 14:29] Tintef commented on #206
@jmaslin Awesome! I'll try to gather some time this week to merge the change and publish a new version :)

[2021-08-04 06:45] wobsoriano commented on #145
I do it like this:

[code]

[2021-08-10 07:02] javiercejudo commented on #206
Looking forward to this. To add more context, this was causing problems in a project that uses `react-select` directly in conjunction with this project. Anyone using react-select < 4.3.1 directly could run into this issue even after this update, but at least once they upgrade, everything should work well.

[2021-08-11 14:33] Tintef commented on #206
@javiercejudo Yeah, I'm aware of that. I'm having a hard time on finding some time to merge, publish and test.

I hope to have time over this weekend :)

[2021-08-11 21:42] rossm6 opened #212 "geocodeByPlaceId does not work. Set up needs clarifying in the documentation."
Hi

Thanks for the library.  I'm using the main component itself fine but I'm unable to use geocodeByPlaceId because the library gets stuck at this point below where it checks for the maps attribute of google.  The documentation doesn't mention setting anything up.  I even tried adding the google maps script like you suggest in the basic section of the docs despite passing my api key already to th

[2021-08-12 09:33] #212 closed

[2021-08-12 09:34] rossm6 commented on #212
I don't think this is a problem actually.

[2021-08-12 09:53] rossm6 opened #213 "How Do You Set The Initial Value?"
I have -

[code]

What do I need to pass as the value of "address" for there to be an initial value?

I've tried {label: "some address", place_id: "ChIJNYiUp8ROeEgRikq4Ws76OpU"} and passing the object returned by using the utility geocodeByPlaceId.  The former works in so far has it shows the label in the input field upon initialisation but it appears broken.  For example when I try and delete the

[2021-08-12 14:34] Tintef commented on #213
@rossm6 glad you were able to figure it out.

The library is plug in when doing basic stuff. But once you want to start customizing it does get a bit more complex.

It's also impossible for me to document every possible use case for this library -- although I agree setting the default value is pretty common, but it's well explained on react-select docs --.

Anyway, a PR adding examples is always w

[2021-08-12 14:34] #213 closed

[2021-08-16 09:25] dawitam37 opened #214 "How to clear a value programmatically?"

[2021-08-16 13:09] #214 closed

[2021-08-16 21:16] #206 closed

[2021-08-16 21:19] Tintef commented on #206
Released on v3.3.2

cc: @javiercejudo

[2021-08-17 18:27] Sithu-Soe opened #216 "How can i customize the input form?"

[2021-08-18 13:07] Tintef commented on #216
If you mean styling, there's a [section in the docs for that](https://tintef.github.io/react-google-places-autocomplete/docs/examples#customization). If that's not what you want, you probably need to check react-select docs to customize the underlying select behavior (the docs point you on the right direction).

[2021-08-18 13:07] #216 closed

[2021-08-22 11:49] ebensakyi opened #217 "Deletion"
Deletion not working

[2021-08-23 12:36] Tintef commented on #217
@ebensakyi Provide a repository to reproduce your issue or a codesandbox.

[2021-08-24 18:59] Tintef commented on #217
Closing for lack of response and information. If @ebensakyi provides information about how to reproduce I'll reopen this.

[2021-08-24 18:59] #217 closed

[2021-08-25 01:32] mrnickel commented on #159
I recommend replacing the `react-google-map` component with the updated `@react-google-maps/api` component.

You can then simply include the js in the script tag as you have outlined above

[2021-09-06 09:47] hasnat98044 opened #220 "how to get the complete address? currently its not showing the first name searched."

[2021-09-23 16:52] atawfique21 commented on #130
I wanted to post my findings on this. I am using a Controller Component and passing selectProps like this:

[code]

Instead of setting the state variable to the label, pass the entire value like this and the error will no longer happen:
[code]

Hope this helps!

[2021-10-22 02:28] sant527 opened #225 "How to use react hook form with this"
currently using react hook forms i use the below

[code]

How to do something similar with
[code]

I want the user to not leave this empty

[2021-10-25 04:21] sant527 opened #226 "How to intialize with a place initially"
I am using this in one of my forms. I want to intialize with a place in the beginning. HOw can i do this

[2021-10-25 16:26] #226 closed, assigned to nobody

[2021-10-27 15:00] usamamashkoor opened #227 "Ensure CORS response header values are valid"
The autocomplete works fine when we refresh the page, but when I navigate to the different react pages and then I type something to the autocomplete then I get this error

**Ensure CORS response header values are valid**

and then the autocomplete does not show me anything, If I refresh the page again, then the autocomplete again works fine.

Can anyone help me with this issue?

This is my code

[

[2021-10-29 16:56] walacepmorais opened #228 "CORS issues on Firebase Hosting"
I'm using the component on a React website hosted on Firebase. But I'm having problems with CORS.
How can I get around this?

[2021-10-31 00:22] Tintef commented on #225
Closing for now as customizing the input as explained should work. Will reopen if it doesn't

[2021-10-31 00:22] #225 closed

[2021-10-31 00:28] Tintef commented on #228
That's not related to this library, but something on the configuration of your firebase hosting. Given that, I'll close this issue.

Sadly, I have no experience with firebase hosting so I cannot help you. I would recommend asking on stack overflow.

[2021-10-31 00:28] #228 closed

[2021-10-31 00:28] Tintef commented on #227
@usamamashkoor Please provide somehow to reproduce this issue, as I have never seen it. Also, how are you hosting your site?

[2021-10-31 00:29] Tintef commented on #228
Might also be something on the configuration of your google places API key! IIRC there's a section of allowed domains 🤔

[2021-10-31 00:30] Tintef commented on #227
Might also be something on the configuration of your Google places API key! IIRC there's a section of allowed domains 🤔

[2021-11-05 06:48] plentys-interns opened #229 "input text area width show less when i go for update"
![googlePlaceAutoComplete](https://user-images.githubusercontent.com/69135055/140469616-00218d00-2e04-4b5e-9091-f5f3331affd0.PNG)

i select address and submit and when i again reopen tab  for update address the text area width get small thast why text get hidden how to reslove this issue i even try with option value style

[2021-11-08 12:17] Tintef commented on #229
@plentys-interns Provide a repository to reproduce your issue or a codesandbox.

[2021-11-08 18:03] Tintef commented on #220
Closing from lack of response

[2021-11-08 18:03] #220 closed

[2021-11-11 12:53] PaperjetStudios opened #230 "Placeholder not clearing on focus"
Hey there, how would I achieve this - when I click on the select bar with a placeholder, the typing cursor shows at the end of the placeholder, when I start typing it clears, but the cursro at the end of the placeholder is confusing some people.

[2021-11-12 19:06] Tintef commented on #230
@PaperjetStudios that's weird. I have never seen that happening with react-select. Can you provide a reproduce-able example?

[2021-11-12 19:07] Tintef commented on #227
Closing due to lack of response

[2021-11-12 19:07] #227 closed

[2021-11-16 01:00] yh10106699 opened #231 "How to sync up input with active suggestion while navigating through suggestions using arrow key?"
My initial thought is to update the address state in the `renderSuggestions` props as that's where I can get the info about active suggestion and suggestion results. However, this prevents you from changing the input while you are navigating the suggestions. Another problem is that this gives the warning `Cannot update a component while rendering a different component`. Then I tried to wrap the lo

[2021-11-16 19:24] yh10106699 commented on #231
As I am using the controlled the input, when input value change, the component would fire a new request for the places result. How can I avoid that like the google search?

[2021-11-16 22:33] lucasmrl opened #232 "Warning: Prop `id` did not match. Server: "react-select-6-input" Client: "react-select-2-input""
Hi all.
I got the following issue:
`Warning: Prop `id` did not match. Server: "react-select-6-input" Client: "react-select-2-input"`

Found a possible solution here https://github.com/JedWatson/react-select/issues/2629
But I can't seem to be able to pass the inputID props.

Any suggestions?

[2021-11-17 03:22] lucasmrl commented on #232
After reading the documentation, I got how you can pass props to react-select.

The following code removes the error message:

[code]

[2021-11-17 03:22] #232 closed

[2021-11-18 23:44] hope-portal-services opened #233 "Missing zip codes"
Why are postal codes not returned in the response? Seems like a fairly common piece of data to have included.

[2021-11-22 07:50] MuhammadAlbab opened #234 "how to set initial value and change the placeholder?"

[2021-11-22 08:08] MuhammadAlbab commented on #234
sorry my bad, it's all on the docs lol

[2021-11-23 06:35] #234 closed

[2021-11-23 18:09] yh10106699 commented on #102
Hi, I am using v2.3.2. This feature does not work. Is that because I overwrite the onChange and onKeydown in the renderInput props? Do we have props.onMouseEnter(event) like props.onChange(event) and props.onKeyDown(event) ? The arrow key functions works fine for me on changing the active suggestions.

[2021-11-23 18:39] yh10106699 commented on #102
I found it's because the onHoverOverSuggestions is not returned in renderSuggestions. In renderinput, onChange and onKeyDown are returned. Is there any chance to change this?

[2021-11-23 20:45] MuhammadAlbab opened #235 "can i use react-select library when RGPA already installed in my project?"
i get this warning when try to use react-select library with RGPA already installed in my project.
"You are loading @emotion/react when it is already loaded. Running multiple instances may cause problems. This can happen if multiple versions are used, or if multiple builds of the same version are used."

[2021-11-23 21:19] Tintef commented on #229
Closing from lack of response

[2021-11-23 21:19] #229 closed

[2021-11-23 21:19] Tintef commented on #230
Closing from lack of response

[2021-11-23 21:19] #230 closed

[2021-11-23 21:24] Tintef commented on #231
@yh10106699 I'm not sure I understand what issue you're facing, please provide a repo to reproduce your issue.

As for your second question, there might be a way to accomplish what you want inside [react-select Async select](https://react-select.com/async#loading-asynchronously), but I don't know if it's actually possible.

[2021-11-23 21:28] Tintef commented on #233
@hope-portal-services the response is not from this library, that comes from [google places API](https://developers.google.com/maps/documentation/places/web-service/overview).

I'm guessing that you can get the postal code after selecting an address by using [geocodeById](https://tintef.github.io/react-google-places-autocomplete/docs/geocode-by-place-id) (haven't tested it).

[2021-11-23 21:28] #233 closed

[2021-11-23 21:29] Tintef commented on #235
@MuhammadAlbab which version are you using? AFAIK that's fixed on v3.3.2 (see [#206](https://github.com/Tintef/react-google-places-autocomplete/issues/206))

[2021-11-25 01:38] MuhammadAlbab commented on #235
i found this link, i think i face the same problem as this dude here: [](https://githubmemory.com/repo/Tintef/react-google-places-autocomplete/issues/176)

[code]

[2021-11-25 01:57] Tintef commented on #235
Huh, sadly that's outside of the scope of this library 🥺.

[2021-11-25 01:57] #235 closed

[2021-12-07 12:39] Tintef commented on #231
Closing from lack of response

[2021-12-07 12:39] #231 closed

[2021-12-27 10:58] kev0629 opened #238 "all types working"
Hi,
I want to use all types in options.
The problem is that "cities" is set by default.
I succeed to change the type but I do not succeed to used all of them...

Maybe i missed something, do you have any idea ?

Thank you

[2021-12-27 11:02] #238 closed

[2022-01-08 11:52] aliyaus opened #239 "Can you set a placeholder value?"

[2022-01-08 18:17] fulcrumlabsio opened #240 "How do we make this input required?"

[2022-01-10 17:08] Tintef commented on #239
You can do that using the `selectProps`. See https://tintef.github.io/react-google-places-autocomplete/docs/props#selectprops

[2022-01-10 17:08] #239 closed

[2022-01-10 17:09] Tintef commented on #240
That depends on how you are implementing your form. The underlying select input is driven by react-select, so you should search on how to make it required there!

You can configure the underlying react-select component as it's stated [here](You can do that using the `selectProps`. See https://tintef.github.io/react-google-places-autocomplete/docs/props#selectprops)

[2022-01-10 17:09] #240 closed

[2022-02-03 17:20] davidlehrian opened #243 "Works first couple or three times but then hangs..."
Hello,
Thanks for releasing this great component. I'm having a small issue with it and was hoping you might be able to shed some light on it. I have installed the component via NPM and have included the googleapis script as:

`<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=MY_API_KEY&libraries=places"></script>`

and I included the component on a page via:

[code]

[2022-02-04 20:47] alia-peterson commented on #243
I'm not positive since I'm not part of the dev team, but I think you need to add your value and setValue as select props.

Try:
[code]

[2022-02-04 20:55] alia-peterson opened #244 "Not able to use defaultInputValue prop"
Trying to use the component for locations that may already have a saved address. When I pass a string through the `defaultInputValue` react-select prop, no text is displayed in the input and the div (class "css-xxxxxx-selectValue") that is created when an address is selected is not present.

My component looks like this:

[code]

[2022-02-04 21:56] davidlehrian commented on #243
That is to get the selected value, but I was keeping it as the simplest example that is provided here:

https://www.npmjs.com/package/react-google-places-autocomplete

This just displays the component and performs type ahead matching.

[2022-02-05 16:06] davidlehrian commented on #243
It seems that a clock component on the same page that was using the useEffect hook to watch its 'date' state via
[code]
was causing the search component to hang after two or three searches. I changed the effect to watch [] instead of [date]

[code]

and the autocomplete component installed further down on the same page started working consistently. But now I'm even more confused as I don't underst

[2022-02-05 16:07] #243 closed

[2022-02-09 00:17] Tintef commented on #244
@alia-peterson The issue you are facing is that `formattedAddress` is an empty in the first render of your component, so react-select uses that as the `deafultInputValue` and it doesn't change when formattedAddress changes.

If you want the select component to react to `formattedAddress` change you should that string as the `inputValue` value and use `onInputChange` to control it :)

Something lik

[2022-02-09 00:17] #244 closed

[2022-02-10 09:24] andreasciamanna commented on #235
Can't `react-select` be set as peerDependencies?

[2022-02-12 04:11] kovkev opened #246 "No network requests are made"
I used to be able to use this library without issue. (And THANK YOU very much!!)

Now, the dropdown shows no results. Also, there are no network requests being made.

I was at version 3.3.2 and I tried 3.2.4 as well.

How should I debug/troubleshoot this issue?

[2022-02-13 01:09] kovkev opened #247 "onChange is not triggered"
How can I troubleshoot react-google-places-autocomplete? I tried to clone it, use yalc, etc. However, I was not able to see my code be reflected in the browser

onChange is not triggered. I am able to see autocomplete results

[2022-02-13 01:13] #247 closed

[2022-02-14 06:47] Resource-3 commented on #162
Seeing this issue again when using with @react-google-maps/api

[2022-02-15 17:23] Tintef commented on #246
@kovkev You should check that:

1. The google places script is being loaded
2. Your API KEY is still valid, has quota and your domain is whitelisted

[2022-02-16 07:48] Edward-Huang-dev opened #249 "How do I customize suggest style?"
Hi, @Tintef
I want to bold the street section in the suggestions.
It looks like it's been boxing in the code.
Expecting a callback or something like that.......
Thanks

[2022-02-17 20:23] alia-peterson commented on #244
@Tintef you're a life saver, thanks!

[2022-02-20 05:40] Sushant-Borsania opened #251 "On focus, the component displays the 'no options' dropdown without providing any user input."
I believe the library is using async from the react-select.
When a user clicks on the input field in <GooglePlacesAutocomplete /> component, it displays the "no options" dropdown item even without typing any letter.
Is there any method I can use to prevent this opening until the user types something in the input?
Code snippet:

[code]

[2022-02-21 04:29] sunviwo commented on #69
@Tintef, I'm getting this same error with version 3.3.2, but I'm using the package in conjunction with @react-google-maps/api@2.7.0 that let me display the selected place on a map. Any workaround please? Thanks in advance.

[2022-02-21 12:41] Tintef commented on #69
@sunviwo if you don't pass the `apiKey` prop this library won't try to include the google places script.

[2022-02-22 17:26] maks1mp opened #252 "Getting an error: ERROR in ./node_modules/react-google-places-autocomplete/build/index.es.js"
ERROR in ./node_modules/react-google-places-autocomplete/build/index.es.js 1509:9-29
export 'useInsertionEffect' (imported as 'e') was not found in 'react' (possible exports: Children, Component, Fragment, Profiler, PureComponent, StrictMode, Suspense, __SECRET_INTERNALS_DO_NOT_USE_OR_YOU_WILL_BE_FIRED, cloneElement, createContext, createElement, createFactory, createRef, forwardRef, isValidElemen

[2022-02-22 21:02] Tintef commented on #252
@maks1mp Please provide a repro to reproduce, or at least how you are using the component + the versions of your packages.

[2022-02-22 21:42] Tintef commented on #251
You can programmatically handle if the select is opened using the `menuIsOpen` prop from react-select.

Here's an example of how to do it on react-select:
[code]

You should use a controlled input, using the `inputValue` and `onInputChange` props and use that value to define if the `menuIsOpen`

[2022-02-22 21:42] #251 closed

[2022-02-22 21:44] Tintef commented on #249
Not sure what you are trying to do, but any styling is possible through react-select, please check [their docs](https://react-select.com/).

[2022-02-22 21:44] #249 closed

[2022-02-23 02:09] KalvinWei opened #254 "Usage questions"
1) In what format should I initialise the component state?
2) Is there any options to allow Google to respond coordinates?

[2022-02-26 16:44] raph90 opened #258 "Usage with Remix"
I'm trying to use the component in Remix and it's causing the page to hang and become unresponsive.
Any ideas why that might be happening? Remix uses SSR, so I'm thinking that might be a possible cause...

[2022-02-26 17:08] raph90 commented on #258
I've solved this - for posterity (and in case anyone else comes across this)  - make sure to read Remix's documentation about `typeof window` checks. https://remix.run/docs/en/v1/pages/gotchas#typeof-window-checks

[2022-03-02 09:48] ajeffika opened #260 "Is there a way to add ```strictBounds``` parameter to autocompletionRequest ?"
Hi, is there a way to add that parameter? Bounds are already there and it would be beneficial for searching within a given cooridinates.

[2022-03-06 08:05] vernu opened #261 "defaultOptions not working"
Hello,
I'm trying to add defaultOptions in the select, but it doesn't seem to work and It shows no options.
Here's my code:
`<GooglePlacesAutocomplete
          selectProps={{
            value,
            onChange: setValue,
            defaultOptions: options,
          }}
          apiKey={process.env.NEXT_PUBLIC_GOOGLE_PLACES_API_KEY}
        />`

[2022-03-07 10:28] wickedsouls commented on #168
Somehow it does not always work :(

[2022-03-10 06:28] rimpu opened #262 "Is there a way to get individual values for streetno, street name, city, country, pincode once user selects a value from the autocomplete search"
Hi,

I see when we select a value from the dropdown we get the following list.
{
    "label": "Uenuku Way, Auckland Airport, Auckland, New Zealand",
    "value": {
        "description": "Uenuku Way, Auckland Airport, Auckland, New Zealand",
        "matched_substrings": [
            {
                "length": 3,
                "offset": 0
            }
        ],
        "place_id": "EjNVZW51a

[2022-03-12 02:20] perochak opened #263 "result filter option"
Do we have option to filter the results as per need?
Like I want to filter the results to show if there is zipcode.

[2022-03-12 17:30] lorenzolaricchia commented on #262
You have to call `geocodeByPlaceId(placeId)` and look inside `address_components` of item 0 (Google Maps Geocoding API is required).

[2022-03-12 17:48] lorenzolaricchia commented on #263
You can only use the `filterOption` prop, that filters the options given from the react-google-places-autocomplete result.

[code]

[2022-03-12 17:55] lorenzolaricchia commented on #261
`react-select` has only the `options` prop available [docs](https://react-select.com/props).
You need the Async version [docs](https://react-select.com/async) of the component, that I think react-google-places-autocomplete does not support.

[2022-03-12 18:43] lorenzolaricchia commented on #260
You can't.
But you can use the filterOption prop to filter strictly your options based on bounds.
The problem is that filterOption can't be async, so you the answer to your question is NO 😅, but I think you can find a shortcut to handle this.

[code]

[2022-03-14 12:53] kexposito commented on #261
@vernu could you share how your options looks?
you should have something like:
[code]

[2022-03-14 13:17] vernu commented on #261
Yes that's exactly what im using.

[2022-03-16 06:50] rimpu opened #264 "TypeError: Cannot read properties of undefined (reading 'maps')"
Hi,
I am using the below react code to populate a default value when the google autocomplete loads for the first time. But I am getting an error. Could someone take a look and let me know when I am wrong?

The error is being thrown at "geocodeByPlaceId("ChIJH_imbZDuDzkR2AjlbPGYKVE")"

import "./styles.css";
import GooglePlacesAutocomplete, {
  geocodeByPlaceId
} from "react-google-places-autocompl

[2022-03-16 06:51] rimpu commented on #262
worked!!

[2022-03-16 06:58] rimpu commented on #115
I have a doubt here @Tintef if we are already using import statement import GooglePlacesAutocomplete, {
  geocodeByPlaceId
} from "react-google-places-autocomplete";

do we still need to write this script to run the geoCode methods ?

[2022-03-16 07:10] lorenzolaricchia commented on #264
When you call geocodeByPlaceId() GooglePlacesAutocomplete has not been loaded.

[2022-03-16 08:22] rimpu commented on #264
How to make sure that we call only after GooglePlacesAutocomplete is loaded, any idea?

[2022-03-16 10:09] lorenzolaricchia commented on #264
I think geocodeBy*() utility functions should be used in combo with the autocomplete component, like with the onChange() method.

[2022-03-16 10:29] rimpu commented on #264
Ok, yes that works fine when used geoCodeBy* with onChange. But I will need to prepopulate the value soon after the component mounts, is there a way to do so?

[2022-03-16 10:54] rimpu commented on #201
Hi @ataravati

How did you bring google places api  on your page or how did you load I mean ?

[2022-03-17 09:24] lorenzolaricchia commented on #264
[code]

[2022-03-18 20:40] Tintef commented on #263
Thanks @lorenzolaricchia for the reply, I'm gonna close this one.

[2022-03-18 20:40] #263 closed

[2022-03-18 21:37] Tintef commented on #260
Yep, that doesn't seem to be an option for the `autocompletionRequest` (see [here](https://developers.google.com/maps/documentation/javascript/reference/places-autocomplete-service#AutocompletionRequest)).

[2022-03-18 21:37] #260 closed

[2022-03-18 21:41] Tintef commented on #262
Thanks @lorenzolaricchia!!

[2022-03-18 21:41] #262 closed

[2022-03-18 21:42] Tintef commented on #264
@rimpu Another options is to manually load the google places api script instead of relying on the component to load it for you!

[2022-03-18 21:42] #264 closed

[2022-03-18 21:44] Tintef commented on #261
Let's recap on a couple things:

- @lorenzolaricchia: react-google-places-autocomplete does use Async from react-select!
- As @kexposito said, you need to have something like `[{ value: 'Austin, TX, USA', label: 'Austin, TX, USA'}]` as the `defaultOptions`, you can see it working [here](https://codesandbox.io/s/boring-fermi-6nkt48)

[2022-03-18 21:44] #261 closed

[2022-03-18 21:48] Tintef commented on #254
1. Check the docs, you can either use a defaultValue or as a controller components.
2. No, you must geocode after.

[2022-03-18 21:48] #254 closed

[2022-03-19 16:39] rimpu opened #265 "How to unit test geocodeByPlaceId in jest ?"
Hi,
I am using a  react component and trying to test the geocodeByPlaceId method using react testing library/ jest.
Below is my code which is used to prepopulate an address if place_id is supplied.
But unfortunately, when I am trying to test this functionality by providing a place_id, it does not call the geocodeByPlaceId method

[code]

  In setuptests I have defined the following :

[code]

 Any

[2022-03-31 06:19] ashish-eeposit commented on #265
mock the component and use as follow :
jest.mock('react-google-places-autocomplete', () => ({
  __esModule: true,
  geocodeByPlaceId: jest.fn(
    () =>
      new Promise((resolve) => {
        resolve([
          {
            address_components: [
              {
                long_name: 'long_name',
                short_name: 'short_name',
                types: ['administrative_area_level_1

[2022-03-31 06:22] AshishGz commented on #265
I mocked in the following way:
`mock the component and use as follow :
jest.mock('react-google-places-autocomplete', () => ({
__esModule: true,
geocodeByPlaceId: jest.fn(
() =>
new Promise((resolve) => {
resolve([
{
address_components: [
{
long_name: 'long_name',
short_name: 'short_name',
types: ['administrative_area_level_1'],
},
{
long_name: 'long_name',
short_name: 'short_name',
types: ['locali

[2022-03-31 10:42] rimpu commented on #265
I also later researched and did in a similar fashion.

`jest.mock('react-google-places-autocomplete', () => {
  const originalModule = jest.requireActual('react-google-places-autocomplete');
  return {
    __esModule: true, // Use it when dealing with esModules
    ...originalModule,
    geocodeByPlaceId: () => new Promise((resolve) => resolve(mockData)),
  };
});`

[2022-03-31 10:42] #265 closed

[2022-04-14 14:59] mnyp opened #267 "ARIA labels and accessibility"
I wondered whether there is a way of adding an `aria-label` or `aria-labelledby` onto the input?

[2022-04-15 16:53] Tintef commented on #267
Yeah, use the `selectProps` and check [react-select docs](https://react-select.com/props#select-props).

[2022-04-15 16:53] #267 closed

[2022-05-05 04:51] buiquangduc opened #269 "Disable select input animation"
Thanks for the awesome libraries!

I have one question, is there any way I can disable the input animation?
![cadet](https://user-images.githubusercontent.com/20354417/166865170-b9a21046-d212-4c4f-a559-045482876002.gif)

Below is my code:
[code]

Thanks for your help

[2022-05-11 01:55] ataravati opened #270 "Add ability to query place details on select"
We need to get the place photos when the item is selected. It would be nice to add ability to query the place details.

[2022-05-17 09:44] mike-niemand opened #271 "Needs updating to React Version 18"
Hi,

This needs to be updated to react@^18

[code]

[2022-06-09 11:30] OskarD opened #274 "You are loading @emotion/react when it is already loaded"
When using this in a project that already uses `@emotion/react`, it's instantiated twice
[code]

[2022-06-12 18:09] Tintef commented on #274
See #176

[2022-06-12 18:09] #274 closed

[2022-06-16 21:35] Tintef commented on #269
There's no animation 🤔 Can you set up a codesandbox/repo to reproduce?

[2022-06-16 21:37] #270 closed

[2022-06-16 21:38] Tintef commented on #271
Will try to get to this over this weekend (also, a PR is welcomed...)

[2022-06-16 21:38] Tintef commented on #252
Closing due to lack of response.

[2022-06-16 21:38] #252 closed

[2022-06-16 21:43] ataravati commented on #270
@Tintef That's not true.

https://developers.google.com/maps/documentation/javascript/reference/places-autocomplete-service#AutocompleteSessionToken

react-native-google-places-autocomplete uses the same API, of course, but it gives you the place details too.

[2022-06-16 22:33] Tintef commented on #270
@ataravati Isn't it using the [Places Service](https://developers.google.com/maps/documentation/javascript/reference/places-service#PlacesService.getDetails)?

Check [this part](https://github.com/fullstackProDev/react-native-google-places-autocomplete/blob/master/GooglePlacesAutocomplete.js#L301-L309) of their code.

I'm not saying it's not doable, I'm saying it's not supported by the google libr

[2022-06-16 22:35] ataravati commented on #270
It shouldn't be difficult to implement. Thanks for creating the ticket!

[2022-06-18 07:43] farrukhrashid1997 commented on #271
Hi tintef, can I pick this up?

[2022-06-18 07:45] farrukhrashid1997 commented on #147
Hi @Tintef, is this issue still open? Can I pick this up?

[2022-06-18 15:03] Tintef commented on #147
@farrukhrashid1997 Yeah, feel free to open a PR

[2022-06-18 15:03] Tintef commented on #271
@farrukhrashid1997 Yeah, feel free to open a PR

[2022-06-21 19:49] AndrewBordin commented on #271
Hey guys, any update on this?

[2022-06-25 00:10] Tintef commented on #271
I haven't have free time to work on this. A PR is appreciated.

[2022-06-27 18:21] farrukhrashid1997 commented on #271
I will be getting some time after 6th of July, will try to open a PR asap then.

[2022-06-28 17:16] epalacio90 commented on #271
I just added a pull request that solves this issue [https://github.com/Tintef/react-google-places-autocomplete/pull/276](url)

[2022-07-04 19:05] ticpoi opened #277 "Error Message in Next JS - TypeError: (0 , o.rulesheet) is not a function"
When we used the library on local everything was fine. But on deployment it broke the complete application and throwed "TypeError: (0 , o.rulesheet) is not a function" error message seen on console.

On first research it looks like related with import statements.
So tried these;
import GooglePlacesAutocomplete from 'react-google-places-autocomplete'
import { getLatLng, geocodeByAddress } from 'rea

[2022-07-04 23:00] #271 closed

[2022-07-04 23:11] Tintef commented on #271
Deployed on 3.4.0 :)

[2022-07-07 08:14] alimoli opened #278 "How to customize `No options` label"
I checked the documentation, code, and several examples, but I cannot find a way to customize `No options` label.
Is there some property?

[2022-07-07 17:08] matheusmirandaferreira commented on #278
I would like to know too

[2022-07-09 21:24] Tintef commented on #278
Sounds like you want to search on [react-select docs](https://react-select.com/props) and use the `selectProps`prop of this component.

You want to use the `noOptionsMessage` prop or a custom component, check their docs.

[2022-07-09 21:24] #278 closed

[2022-07-13 20:48] eldan88 opened #279 "onChange not working 3.4.0"
Hi,

 Below is the code i am using and the onChange event is not working..
[code]

[2022-07-14 19:04] Tintef commented on #279
@eldan88 works fine for me. Is the google places script loaded?

[2022-07-14 19:04] #279 closed

[2022-07-14 19:26] eldan88 commented on #279
No i didn't you put in your documentation

Note: if you pass down the apiKey prop to the component, you can skip loading the [Google Maps JavaScript API](https://developers.google.com/maps/documentation/javascript/), as the component will inject that script on the page.

[2022-07-15 12:52] Tintef commented on #279
I cannot reproduce your issue, so there's not much I can do. If you want to share with me a repo or sth where the issue can be reproduced, I can take another look.

[2022-07-15 18:16] eldan88 commented on #279
Hey.

 I am using nextjs to implement this... it doesnt seem to output the log.. but on code sandbox its working fine...

[2022-07-15 18:30] eldan88 commented on #279
Hey okay so for some reason dont know why it doesnt output it on the console log. Not for nexjs and not for a react app i have. Not sure why.

But it does work when i use alert()

Not sure why..

[2022-07-16 09:51] bstefanescu opened #280 "Dependencies are bundled in the build output"
All the dependencies (not the peer dependencies) are bundled in the build output files.
The build is thus including @googlemaps/js-api-loader as well as react-select with all of its own dependencies (like @emotion/react). Apart the big size of the output file, this may cause problems at runtime.

In my product I am using libraries like react-select chakra-ui etc. that depends on @emotion/react. Be

[2022-07-16 17:35] Tintef commented on #280
Please verify if the changes on the branch `issue/280` fix that warning for you ([see here](https://github.com/Tintef/react-google-places-autocomplete#how-to-contribute) how to build locally and link to your project).

The output file is not affected too much by that change as far as I can see:

[code]

-----

An addition could be to set `react-select` as a `peerDependecy` as well. This should sol

[2022-07-22 15:46] bb-centrum opened #283 "Custom dropdown indicator?"
React-Select has a method to change the dropdown indicator. However I am unsure how to integrate this with react-google-places-autocomplete. Can you help?

Code from: https://react-select.com/components - Custom Dropdown Indicator Example
[code]

[2022-07-23 22:04] Tintef commented on #283
You want to use the [selectProps](https://tintef.github.io/react-google-places-autocomplete/docs/props#selectprops) prop of this component.

Something like this (haven't tried it myself).
[code]

[2022-07-23 22:04] #283 closed

[2022-07-25 08:01] bb-centrum commented on #283
Thanks! In the end, the following worked for me.

[code]

[2022-07-25 08:07] bb-centrum commented on #188
For anyone else who comes across this. I came up with the following solution. This should be fairly simple to adapt to use with the different styles MUI has.

[code]

[2022-08-04 14:15] YPCrumble opened #286 "Is there a changelog currently?"
Thank you for maintaining this package! This dropped in really nicely without any hassles and exposing the react-select API provides amazing functionality.

I'm wondering if there is a changelog? I couldn't see one in the docs, GitHub, or the NPM registry but wanted to make sure I wasn't missing it.

[2022-08-05 13:16] Tintef commented on #286
Thank you for the kind words 😄 Glad to hear you're liking the package!

Regarding the changelog, no, there's not one 😞

You needed one for something in particular?

[2022-08-05 13:27] YPCrumble commented on #286
Got it thank you! Just to know what changed between versions and determine whether and when I want to upgrade.

[2022-08-05 13:30] Tintef commented on #286
Sounds like something I could start doing, as it's easy enough. For now, the only thing that kinda tells what changes is the [migration guide from v2 to v3](https://tintef.github.io/react-google-places-autocomplete/docs/v2-to-v3/).

Then, everything v3.x release are small enhancements or security patches IIRC

[2022-08-05 13:30] #286 closed

[2022-08-12 13:20] steveariss commented on #280
I'm seeing the same issue - I'll try building this branch today and confirm the fix

[2022-09-06 21:15] adrienclay36 opened #288 "Prop `id` did not match. Server: "react-select-5-input" Client: "react-select-3-input""
I'm not sure what's causing this. I am able to put GooglePlacesAutocomplete in a Modal (using Mantine) without issue, however if I try to render it directly to the page I get the following:

[code]
Here is the code snippet:

[code]

[2022-09-07 16:44] Tintef commented on #288
This is a react-select usage issue, not of this component. According [this issue](https://github.com/JedWatson/react-select/issues/2629#issuecomment-473037019) I found in a lazy google search you should pass down an `id` and an `instanceId` to the underlying react-select

[code]

Note that both `id` and `instanceId` should match.

[2022-09-07 16:44] #288 closed

[2022-09-14 16:40] benramsay opened #289 "Support react 18 and the used version : react-select@4.3.1"
Since I upgraded to React 18, I started getting warnings.
Could you please upgrade the **react-select version** to the latest please.

This is an example of the warnings I have :

[code]

[2022-09-16 09:40] harunbiswas opened #291 "Cannot read properties of null (reading 'removeEventListener')"
hi,
When I click or onFocus on the input box I found the issue
please see the attachment
![Screenshot from 2022-09-16 15-36-13](https://user-images.githubusercontent.com/77938106/190607866-de36af8b-e593-4440-a557-90b4f401a0d1.png)
!

[2022-09-16 15:29] Tintef commented on #291
How are you using the component? [This issue seems related](https://github.com/JedWatson/react-select/pull/4213).

[2022-10-03 11:34] rxgfred opened #292 "How do I remove the input border?"

[2022-10-03 18:19] thallada commented on #277
I am seeing a similar error using Next.js but only in development mode:

![Screen Shot 2022-10-03 at 2 18 30 PM](https://user-images.githubusercontent.com/1505923/193649798-dd5ec984-ab57-4821-a1a8-ea308611a4f5.png)
![Screen Shot 2022-10-03 at 2 18 42 PM](https://user-images.githubusercontent.com/1505923/193649801-f6b7f845-f95f-42c4-858d-6fcba45bf6ce.png)

[2022-10-08 22:18] koraybilgi opened #293 "Types parameter not being sent in autocomplete request"
The package is sending autocomplete requests without the **types** parameter set in the options.

For example, let's say I just want to get a list of hospitals.

[code]
The sample code generates the following request:
`https://maps.googleapis.com/maps/api/place/js/AutocompletionService.GetPredictionsJson?1scem&15e3&21m1&2e1&callback=_xdc_._l28uvb&key=XXX&token=XXX`

But instead it should have crea

[2022-10-10 14:18] Tintef commented on #293
@koraybilgi `autocompletionRequest` shouldn't be inside `selectProps`, can you try with

[code]

[2022-10-12 01:51] Tintef commented on #293
Closing due to lack of response (+ wrong usage of the prop, if the suggestion doesn't work I'll reopen).

[2022-10-12 01:51] #293 closed

[2022-10-12 01:52] #269 closed

[2022-10-12 01:52] Tintef commented on #280
@bstefanescu or @steveariss did any of you had an opportunity to review this?

[2022-10-12 12:20] Tintef commented on #291
Closing due to lack of response.

[2022-10-12 12:20] #291 closed

[2022-10-13 05:04] tiennl commented on #292
You can try to use the styles property. It worked for me.

[code]

[2022-10-13 14:32] rxgfred commented on #292
Thank you, that resolved it.

[2022-11-13 22:34] zedrdave commented on #280
Any update on this fix?

[2022-11-14 11:17] Tintef commented on #280
I'm still waiting on feedback from either @bstefanescu or @steveariss.

If you can review the branches and lmk if the problem still exists would be great.

[2022-11-15 11:24] zedrdave commented on #280
Unfortunately won't be able to review this myself in the coming few days. Will see if someone on our team can give it a try…

[2022-11-17 16:16] albertpak opened #302 "How to replace options in select after city selection?"
@Tintef So I checked out this issue and its suggestion works great - *if* data is available: https://github.com/Tintef/react-google-places-autocomplete/issues/131

what I'd like to do is search for a city, and then once city is selected, keep dropdown open, ping another API, get new options and replace existing ones, and then allow user to select...

any suggestions?

[2022-11-18 14:18] albertpak commented on #302
@Tintef understandable, thank you for looking into this, I figured out another way to go about it

P.S> thank you for the plugin ✌️

[2022-11-18 14:18] #302 closed

[2022-11-18 18:19] aconrad opened #303 "Injecting custom options in dropdown"
Thanks for this great tool!

Sometimes the user will enter an address that doesn't exist in Google Maps and it will either return no results or results that aren't relevant. We'd still want the user to be able to enter their address in plain text, for example if it's a PO Box which Google Maps doesn't support. We could offer their text in the dropdown suggestion for them to select.

What do you th

[2022-11-19 13:46] Tintef commented on #303
That should actually be pretty easy to implement as [react-select has an `AsyncCreatableSelect` select component](https://codesandbox.io/s/e6wtn0?module=/example.tsx).

As of now, it's not supported to use a select component that isn't `AsyncSelect`, but it should be enough to add a `creatable` prop to this component and use either `AsyncSelect` or `AsyncCreatableSelect` depending on it 🤔

Sadly,

[2022-11-19 17:49] aconrad commented on #303
Thanks! I don't know if I'll have time for a PR but if I do I'll submit something.

[2022-11-23 09:36] anagharajan95 opened #309 "IsDisabled field in selectprops disables the field but also hides the data"
I am trying to use isDisabled props for <> component where I need the select box to be disabled/readonly but if any value is already selected that need to be rendered in the selectbox wih disabled style...But currently the box is disabled but the value also gets hidden.
![image](https://user-images.githubusercontent.com/102807287/203512143-353dd248-d5a7-4b7c-92ae-0691ceacda29.png)

But when i insp

[2022-11-23 16:35] airowe commented on #174
@Tintef, is this still unsupported?

[2022-11-24 16:58] Tintef commented on #174
Yes. PRs are welcomed.